body {

  margin:0px;
  font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
  height: 100%;
  z-index:1;

}

input[type='text'] {


  height:30px;
  width:100%;
  line-height:30px;
  font-size:30px;
  background:transparent;
  border:0px;
  box-shadow:none;

}

.head {
  

width:90%;
height:100px;  
text-align:center;
position:relative;
margin:0 auto;
margin-top:10px;
  
}

.habits {
  

width:100%;
  
}

.head2 {

width:100%;
height:50px;  
background:-webkit-gradient(linear,0 0,0 100%,from(#e7e7e7),to(#d0d0d0));
box-shadow:inset 0 0px #f7f7f7,0 1px #888,0 0px #e7e7e7;
text-align:center;

}

.footer {
  
  width:100%;
  height:70px;
  bottom:0px;
  background:-webkit-gradient(linear,0 0,0 100%,from(#e7e7e7),to(#d0d0d0));
  border-top:1px solid gray;
  position:fixed;
  
}

.button-tab {

  width:25%;
  height:100%;
  border-top:1px solid #fff;
  float:left;
  overflow:hidden;
  text-align:center;


}

.meter { 
  height: 20px;  /* Can be anything */
  position: relative;
  background: #f7f7f7;
  padding: 0px;
  margin:10px;
}

.meter > span {
  display: block;
  height: 100%;
  background-color: rgb(43,194,83);
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0, rgb(43,194,83)),
    color-stop(1, rgb(84,240,84))
   );
  background-image: -webkit-linear-gradient(
    center bottom,
    rgb(43,194,83) 37%,
    rgb(84,240,84) 69%
   );
  background-image: -moz-linear-gradient(
    center bottom,
    rgb(43,194,83) 37%,
    rgb(84,240,84) 69%
   );
  background-image: -ms-linear-gradient(
    center bottom,
    rgb(43,194,83) 37%,
    rgb(84,240,84) 69%
   );
  background-image: -o-linear-gradient(
    center bottom,
    rgb(43,194,83) 37%,
    rgb(84,240,84) 69%
   );
  position: relative;
  overflow: hidden;
}

.red > span {
  background-color: #f0a3a3;
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #f0a3a3),color-stop(1, #f42323));
  background-image: -webkit-linear-gradient(top, #f0a3a3, #f42323);
        background-image: -moz-linear-gradient(top, #f0a3a3, #f42323);
        background-image: -ms-linear-gradient(top, #f0a3a3, #f42323);
        background-image: -o-linear-gradient(top, #f0a3a3, #f42323);
}

.animate > span:after {
  display: none;
}

@-webkit-keyframes move {
    0% {
       background-position: 0 0;
    }
    100% {
       background-position: 50px 50px;
    }
}

.orange > span {
  background-color: #f1a165;
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #f1a165),color-stop(1, #f36d0a));
  background-image: -webkit-linear-gradient(top, #f1a165, #f36d0a); 
        background-image: -moz-linear-gradient(top, #f1a165, #f36d0a);
        background-image: -ms-linear-gradient(top, #f1a165, #f36d0a);
        background-image: -o-linear-gradient(top, #f1a165, #f36d0a);
}

.menuopen {
  -webkit-transition: 0.3s -webkit-transform;
  -webkit-transform: translate3d(200px,0,0);
}

.menuclose {

  -webkit-transition: 0.3s -webkit-transform;
  -webkit-transform: translate3d(0px,0,0);

}

.menu {

  position:absolute;
  min-height: 100%;
  height:100%;
  width:200px;
  left:-200px;
  background-color:#3D3D3D;

}

.click {

  text-align:left;
  width:10px;

}

.wrapper {

  position:fixed !important;
  position:absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;

}

.wrapper_animation {

  position:fixed !important;
  position:absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;

}

.player {

  height:100px;
  width:100%;
  border-bottom:1px solid gray;

}

.new_task {

  border:1px solid #cccccc;
  height:30px;
  padding:0px;
  width:97%;
  padding: 5px;

}

.task_wrapper {


}

.view {

  width:100%;
  background:#fff2cc;
  border-bottom:1px solid rgba(0, 0, 0, 0.15);

}

#task-list li .toggle {

  height:auto;
  top:10px;
  left:4px;

}

#task-list li .destroy {

  bottom:auto;
  top:7px;

}

.avatar {

  float:left;
  margin-top:10px;

}

.user {

  margin:20px;
  text-align:center;
  font-size:20px;
  float:right;
  font-weight:bold;
  color:#fff;

}

.link {

  font-size:22px;
  color:#000;
  padding:12px;
  border-top:1px solid #4E4E4E;
  border-bottom:1px solid black;

}

.link a {

  color:white;

}

#lines { 
    border-bottom: 17px double black; 
    border-top: 6px solid black; 
    content:"";
    height: 5px; 
    width:30px;
    top:10px;
    left:10px;
    position:absolute;
}​

.list {
  color: #555;
  font-size: 22px;
  padding: 0 !important;
  width: 500px;
  font-family: courier, monospace;
  border: 1px solid #dedede;
  background-color:#FFFCAD;
}

.list li {
  list-style: none;
  border-bottom: 1px dotted #ccc;
  text-indent: 25px;
  height: 40px;
  padding: 10px;
  text-transform: capitalize;
}

.lines {

  width: 9px;
  float: left;
  height: 61px;
  margin-left: 40px;
  margin-top:-10px;
  background:rgb(255, 242, 204);

  clear:both
}

.lines-good {

  width: 9px;
  float: left;
  height: 61px;
  margin-left: 40px;
  margin-top:-10px;
  background:rgb(201, 218, 248);
}

.lines-bad {

  width: 9px;
  float: left;
  height: 61px;
  margin-left: 40px;
  margin-top:-10px;
  background:rgb(230, 184, 175);
}

.task_list {

  margin-bottom:10px;

}

#task-list li label {

  padding:10px;
  font-size:16px;

}

.no_tasks {

  font-size:30px;
  margin:10px;
  color:#555555;

}

.color-worst {
  background-color: rgb(230, 184, 175)
}
.color-worse {
  background-color: rgb(244, 204, 204)
}
.color-bad {
  background-color: rgb(252, 229, 205)
}
.color-neutral {
  background-color: rgb(255, 242, 204)
}
.color-good {
  background-color: rgb(217, 234, 211)
}
.color-better {
  background-color: rgb(208, 224, 227)
}
.color-best {
  background-color: rgb(201, 218, 248)
}
.completed {
  background-color: rgb(217, 217, 217)
  color: rgb(153, 153, 153)
}
.reward {
  background-color: white
}

.first_block {

  background-color:#047A95;
  height:30px;
  line-height: 30px;

  color:white;
  box-shadow:inset 0 -8px 2px -7px black;
  padding-left:10px;

}