/* Core Classes & Helpers
=============================== */

.floatLeft { float: left; }
.floatRight { float: right; }

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local('Lato Light'), local('Lato-Light'), url('../fonts/lato-1.woff') format('woff');
}
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 300;
  src: local('Lato Light Italic'), local('Lato-LightItalic'), url('../fonts/lato.woff') format('woff');
}


/* webfont icons */
@font-face {
    font-family: 'android-icons';
    src:url('../fonts/android-icons.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'icomoon';
    src:url('../fonts/icomoon.eot');
    src:url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.woff') format('woff'),
        url('../fonts/icomoon.ttf') format('truetype'),
        url('../fonts/icomoon.svg#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[data-animation="spin"] {
    -webkit-animation: spin 1s infinite linear;
}

@-webkit-keyframes spin{
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}


/* Global Styles
=============================== */

::-webkit-scrollbar { 
    display: none; 
}

html, input {
    /* input is required to override browser default */
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}


body {
    margin: 0;
    height: 100%;
    z-index: 1;
    overflow:hidden !important;
    overflow-x:hidden !important;
    --webkit-transform:translate3d(0,0,0);
}

.wrapper {
  position:fixed !important;
  position:absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;
  -webkit-overflow-scroll: touch;
}
    .wrapper_animation {
      position:fixed !important;
      position:absolute;
      top:0;
      right:0;
      bottom:0;
      left:0;
      padding: 1.5em;
    }

/* buttons */
.btn {
    background: none;
    -webkit-appearance: none;
    border: 0;
    color: #aaa;

    width: 1.875em;
    height: 1.875em;
    font-size: 2em;
}
    .btn--icon {
        font-family: 'android-icons';
        padding: 0;
        -webkit-transform-origin: 50% 53%;
    }

    .btn--large {
        width: 1.666666667em;
        height: 1.666666667em;
        font-size: 2.25em;
    }

    .btn--small {
        width: 1.5em;
        height: 1.5em;
        font-size: 1.5em;
    }

.strikeout {
    text-decoration:line-through;
}



/* Top Bar
=============================== */

.topbar {
    top: 0;
    width: 100%;
    height: 3.75em;
    background: #f5f5f5;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    text-align: center;
}

.appStatusArea {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAIklEQVQIW2NkQAIvHb3TGGF8EEd8/9ZZYAEYB8RmROaABACVRQ3gbQlLJgAAAABJRU5ErkJggg==);
    position: absolute;
    display: none;
    top: 0;
    left: 32%;
    padding: 0.75em;
}
    .queueLengthReporter {
        font-weight: 700;
    }

    .appOnlineToggle {
        -webkit-appearance: none;
        border: 0;
        background: 0;
        font: 400 14px "Lato";
        padding: 0;
        margin: 0;
    }

/* Nav Panel
=============================== */

.menu {
  position:absolute;
  height: 100%;
  padding-bottom: 0.75em;
  background-color: blue;
  width:15em;
  left:-15em;
  background-color:#212121;
}
.menuopen, .menuclose {
  -webkit-transition: 0.3s -webkit-transform ease;
}
.menuopen {
  -webkit-transform: translate3d(15em,0,0);
}
.menuclose {
  -webkit-transform: translate3d(0px,0,0);
}

/* Navigation Items
=============================== */
.menu {
    -webkit-overflow-scroll: touch;
    overflow: scroll;
}
.navLinkBlock {
}
    .mainNavLink {
        font-size: 1.5em;
        color: #ddd;
        border-top:1px solid #4E4E4E;
        display: block;
        letter-spacing: 1px;
        text-decoration: none;
        height:65px;
        padding-left:12px;
    }

    .lastNavLink {
        background: #333;
    }

/* Tasks
=============================== */
.taskWell * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.taskWell {
    padding: 0.75em 0;
    background: #fefefe;
}
    .taskTypeHeader {
        color: rgb(51,51,51);
        font-size: 2em;
        font-weight: 300;
        margin: 0 0 0.375em 0;
        padding: 0 0 0.375em 0.75em;
        border-bottom: 1px solid #ddd;
    }
    #task-form {
        display: block;
        padding: 0;
        margin: 0;
        line-height: 1.5;
    }
    .newTaskPrompt {
        -webkit-appearance: none;
        border: 0;
        margin: 0 0 0.75em;
        width: 100%;
        padding: 0.75em 1em;
        font-size: 1.25em;
        line-height: 1.5;
        color: rgb(51,51,51);
    }
        .newTaskPrompt:focus {
            background: #eee;
            outline: 0;
            -webkit-box-shadow: inset 0 0 3px #7aa4ee,inset -1px 0 1px #5288e9;
            box-shadow: inset 0 0 3px #7aa4ee,inset 0 0 1px #5288e9;
        }


.taskList {
    padding: 0;
    margin: 0;
}
    .taskItem {
        font-size: 1.25em;
        list-style: none;
        padding: 1em 0.75em;
        background: #eee;
        border-bottom: 1px solid #ddd;
        letter-spacing: -4px;
    }
        .taskActions, .taskText {
            letter-spacing: normal;
            vertical-align: middle;
        }
        .taskActions {
            float: left;
            margin-right: 0.75em;
        }
            .taskButton {
                color: #555;
            }
        .taskText {
            overflow-x: scroll;
            margin: 0;
            line-height: 2.1;
            white-space: nowrap;
        }

    .emptyStateMsg {
        font-size: 1.25em;
        padding: 0 1.5em;
        color: rgb(51,51,51);
        line-height: 1.5;
    }

.filterBar {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 3.75em;
    background: #f5f5f5;
    border-top: 1px solid rgba(0,0,0,0.2);
    letter-spacing: 4px;
    z-index: 1;
}
    .btn--filter {
        width: 49%;
        float: left;
        letter-spacing: normal;
        margin: 0;
        font-size: 1.25em;
        text-align: center;
        height: 3.75rem;
        line-height: 3.75rem;
        text-decoration: none;
    }
        .btn--filter.current {
            color: cornflowerblue;
        }
        .btn--filter:first-of-type {
            border-right: 1px solid rgba(0,0,0,0.2);
        }


/* UNTOUCHED BY ZAK CSS BELOW */
/* -==============================- */


.head {


width:90%;
height:100px;
text-align:center;
position:relative;
margin:0 auto;
margin-top:10px;

}

.habits {


width:100%;

}



.footer {

  width:100%;
  height:70px;
  bottom:0px;
  background:-webkit-gradient(linear,0 0,0 100%,from(#e7e7e7),to(#d0d0d0));
  border-top:1px solid gray;
  position:fixed;

}

.button-tab {

  width:25%;
  height:100%;
  border-top:1px solid #fff;
  float:left;
  overflow:hidden;
  text-align:center;


}

.meter {
  height: 20px;  /* Can be anything */
  position: relative;
  background: #f7f7f7;
  padding: 0px;
  margin:10px;
}

.meter > span {
  display: block;
  height: 100%;
  background-color: #d64040;
  position: relative;
  overflow: hidden;
}

.red > span {
  background-color: #f0a3a3;
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #f0a3a3),color-stop(1, #f42323));
  background-image: -webkit-linear-gradient(top, #f0a3a3, #f42323);
        background-image: -moz-linear-gradient(top, #f0a3a3, #f42323);
        background-image: -ms-linear-gradient(top, #f0a3a3, #f42323);
        background-image: -o-linear-gradient(top, #f0a3a3, #f42323);
}

.animate > span:after {
  display: none;
}

@-webkit-keyframes move {
    0% {
       background-position: 0 0;
    }
    100% {
       background-position: 50px 50px;
    }
}

.orange > span {
  background-color: #ffcf42;
}




.click {

  text-align:left;
  width:10px;

}



.player {

  height:100px;
  width:100%;
  border-bottom:1px solid gray;

}

.new_task {

  border:1px solid #cccccc;
  height:30px;
  padding:0px;
  width:97%;
  padding: 5px;

}

.task_wrapper {


}

.view {

  width:100%;
  background:#fff2cc;
  border-bottom:1px solid rgba(0, 0, 0, 0.15);

}

#task-list li .toggle {

  height:auto;
  top:4px;
  left:4px;

}

#task-list li .destroy {

  bottom:auto;
  top:7px;

}

.avatar {

  float:left;
  margin-top:10px;

}

.user {

  margin:20px;
  text-align:center;
  font-size:20px;
  float:right;
  font-weight:bold;
  /*color:#fff;*/

}



.list {
  color: #555;
  font-size: 22px;
  padding: 0 !important;
  width: 100%;
  font-family: courier, monospace;
  border: 1px solid #dedede;
  background-color:#FFFCAD;
}

.list li {
  list-style: none;
  border-bottom: 1px dotted #ccc;
  height: 40px;
  padding: 10px;
  text-transform: capitalize;
}

.lines {

  width: 9px;
  float: left;
  height: 61px;
  margin-left: 40px;
  margin-top:-10px;
  background:rgb(255, 242, 204);

  clear:both
}

.lines-good {

  width: 9px;
  float: left;
  height: 61px;
  margin-left: 40px;
  margin-top:-10px;
  background:rgb(201, 218, 248);
}

.lines-bad {

  width: 9px;
  float: left;
  height: 61px;
  margin-left: 40px;
  margin-top:-10px;
  background:rgb(230, 184, 175);
}


#task-list li label {

  padding:10px;
  font-size:16px;

}

.no_tasks {

  font-size:30px;
  margin:10px;
  color:#555555;

}

.color-worst {
  background-color: rgb(230, 184, 175);
}
.color-worse {
  background-color: rgb(244, 204, 204);
}
.color-bad {
  background-color: rgb(252, 229, 205);
}
.color-neutral {
  background-color: rgb(255, 242, 204);
}
.color-good {
  background-color: rgb(217, 234, 211);
}
.color-better {
  background-color: rgb(208, 224, 227);
}
.color-best {
  background-color: rgb(201, 218, 248);
}
.completed {
  background-color: rgb(217, 217, 217);
  color: rgb(153, 153, 153)
}
.reward {
  background-color: white;
}

.first_block {

  background-color:#047A95;
  height:30px;
  line-height: 30px;

  color:white;
  box-shadow:inset 0 -8px 2px -7px black;
  padding-left:10px;

}

.first_block_settings {

  background-color:#ab262f;
  height:30px;
  line-height: 30px;

  color:white;
  box-shadow:inset 0 -8px 2px -7px black;
  padding-left:10px;

}

.text {

  margin-left:20px;

}

#notification {

  position:absolute;
  height:63px;
  top:-60px;
  width:100%;
  background-color:#f9edbe;
  z-index:10;
  font-size:20px;
  opacity:0.9;

}

.transition-1 {
  WebkitTransition : 'left 0.5s ease-in-out'
}

.login {

  background-image:url('../assets/background.svg');
  background: url('../assets/background.png') no-repeat 0px 0px;
  background-size: cover;
  background-repeat: no-repeat;
  top:0px;
  bottom:0px;
  left:0px;
  right:0px;
  position:absolute;
  overflow-y:scroll;
  -webkit-overflow-scrolling:touch;

}

.header_notloggedin {

  margin:0 auto;
  width:90%;
  margin-top:13px;
  text-align:center;
  margin-bottom:20px;

}

.content-notlogged {

  background-image:url('../assets/home-scroll2.png');
  width:89%;
  height:70%;
  margin:0 auto;
  margin-top:10px;
  background-size:100% 100%;
  background-repeat: no-repeat;
  position:relative;
  min-height:300px;

}

.text-content {

  background-image:url('../assets/text.png');
  width:170px;
  height:45px;

}

.btn-homescreen {
  background-color: transparent;
  border: none;
  width: 69%;
  height: 9%;
  position: absolute;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  left: 16%;
  color: white;
  font-weight: bold;
  font-size: 14px;
}

.btn-login {
  background-image:url('../assets/btn-login.png');
  top: 56%;
}

.btn-api-token {
  background-image:url('../assets/btn-api-token.png');
  top: 67%;
}

.btn-signup {
  background-image:url('../assets/btn-signup.png');
  top: 78%;
}

/* IM GONNA CHANGE THIS ASAP */

.username {

  width: 69%      !important;
  height: 8%      !important;
  left: 15%       !important;
  position: absolute;
  top: 32%        !important;
  font-size:21px  !important;
  line-height:0px !important;
  padding:0px     !important;
  opacity:0.2;


}

/* IM GONNA CHANGE THIS ASAP */

.password {

  width: 69%      !important;
  height: 8%      !important;
  left: 15%       !important;
  position: absolute;
  top: 44%        !important;
  font-size:21px  !important;
  line-height:0px !important;
  padding:0px     !important;
  opacity:0.2;

}

.home_stats {
}

.customize-menu {
  list-style: none;
}

#task-list {
    margin:0px;
    padding:0px;
}

.taskWell {
    overflow:hidden;
    overflow-y:scroll;
}

.habitrpg_logo {
  background:url('../assets/habitrpg_pixel.png');
  background-size:100% 90%;
  width: 100%;
  height: 69px;
  margin: 3%;
  background-repeat: no-repeat;
  margin-top: 2%;
  min-height: 85px;
}

.image_wrapper {
  display: block;
  position: absolute;
  line-height: 47px;
  float: left;
  top: 5px;
  left: 11px;
}

.image_wrapper_text {
  display: block;
  position: absolute;
  line-height: 47px;
  float: left;
  top: 8px;
  left: 73px;
}



/* ------------------
Character
--------------------*/

ul.stats-list {
    list-style: none;
}

ul.stats-list {
    overflow-x: scroll;
    margin: 0;
    line-height: 2.1;
    white-space: nowrap;
}

.details-page, .profile-content {
  position: absolute;
  top: 63px; /* this is stupid */
  bottom: 0; left: 0; right: 0;
  overflow-y:auto;
  -webkit-overflow-scroll: touch;
}


.taskTypeHeader {
  color: rgb(51,51,51);
  font-size: 2em;
  font-weight: 300;
  margin: 0 0 0.375em 0;
  padding: 0 0 0.375em 0.75em;
  border-bottom: 1px solid #ddd;
}