
/**
 * I really don't understand CSS - why do we need height 100% in so many locations for it to stick?
 */
#wrapper, #content, #site, .max-height {height: 100%; overflow:hidden;}

#content {
    background-color: #F0F1F1;
    padding:0px;
}

.topcoat-navigation-bar {
    background: #f5f5f5;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

/**
 * Copied / pasted from topcoat-mobile-dark.css. We want the light theme for everythign except the sidebar
 */
#sideNav .topcoat-list__container {
    border-top: 1px solid #2f3234;
    border-bottom: 1px solid #eff1f1;
    background-color: #444849;
}
#sideNav .topcoat-list__header {
    background-color: #3b3e40;
    color: #868888;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.3);
    border-top: solid 1px rgba(255,255,255,0.1);
    border-bottom: solid 1px rgba(255,255,255,0.05);
}
#sideNav .topcoat-list {
    border-top: 1px solid #2f3234;
    color: #c6c8c8;
}
#sideNav .topcoat-list__item {

    /* uncomment if we want zak's overrides */
    /*font-size: 1.5em;
    color: #ddd;
    padding: 0.75em;
    border-top:1px solid #4E4E4E;
    display: block;
    letter-spacing: 1px;
    text-decoration: none;*/

    border-top: 1px solid #5e6061;
    border-bottom: 1px solid #2f3234;
}
#sideNav .topcoat-list__item:first-child {
    border-top: 1px solid rgba(0,0,0,0.05);
}

.topcoat-navigation-bar__item {
    line-height:0;
}

.topcoat-navigation-bar__item a {
    padding:0;  
}

.topcoat-navigation-bar {
    padding:0;
}

#site.open {
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(250px, 0, 0);
  }

/**
 * Forms
 */

form input {
    width: 90%;
}

form label {
    color: black;
}