<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.ocdevel.habitrpg"
        versionCode = "26"
        version     = "0.0.26">

    <!-- versionCode is optional and Android only -->

    <name>HabitRPG</name>
    <description>
       Habit tracking which treats your goals like a Role Playing Game. Level up as you succeed, lose HP as you fail, earn money to buy weapons and armor.
    </description>
    <author email="admin@habitrpg.com" href="https://habitrpg.com">
        HabitRPG
    </author>

    <content src="index.html" />

    <access origin="*" />

    <preference name="phonegap-version" value="3.4.0" />
    <preference name="fullscreen" value="false" />
    <preference name="webviewbounce" value="false" />
    <preference name="UIWebViewBounce" value="false" />
    <preference name="DisallowOverscroll" value="true" />

    <!--<plugin name="Device" value="org.apache.cordova.Device"/>-->

    <preference name="prerendered-icon" value="true" />
    <!--<preference name="android-minSdkVersion" value="11" />-->
    <!--<preference name="android-targetSdkVersion" value="13" />-->
    <!--<preference name="orientation" value="portrait" />-->

    <feature name="http://api.phonegap.com/1.0/network"/>
    <feature name="StatusBar">
        <param name="ios-package" value="CDVStatusBar" onload="true" />
    </feature>
    <feature name="Device">
        <param name="ios-package" value="CDVDevice" />
    </feature>

</widget>
