include ../node_modules/habitrpg/views/shared/header/avatar
include ../node_modules/habitrpg/views/options/profile
include ../node_modules/habitrpg/views/shared/modals/quest-rewards
include app/avatar
include app/list
include app/details
include app/about
include app/profile
include app/inventory
include app/stable
include app/settings
include app/chat

script(id='views/app.html',type='text/ng-template')
  ion-side-menus
    ion-pane(ion-side-menu-content)
      ion-nav-bar.bar-stable(align-title='left')
        ion-nav-back-button.button-clear(ng-click="goBack()")
          i.icon.ion-chevron-left
          | Back

      ion-nav-view(name='menuContent', animation='slide-left-right')
    ion-side-menu(side='left')
      header.bar.bar-header.bar-stable(ng-if='isIOS')
        h1.title Menu
      ion-content(ng-class='{"has-header":isIOS}')
        ion-list
          ion-item.menu-avatar(nav-clear, menu-close, href='#/app/profile')
            +avatar2()
          each v,k in {'tasks/habits':'Tasks','profile/avatar':'Profile','inventory/inventory':'Inventory','stable/pets':'Stable','chat/tavern':'Chat',settings:'Settings',about:'About'}
            ion-item(nav-clear, menu-close, href='#/app/#{k}')
              //-img(ng-src='assets/sidebar-icon-#{k}.png')
              | #{v}

//-
  #wrapper(ng-controller='MenuCtrl')
      .appStatusArea
        input.appOnlineToggle(type='button', value='Online: {{settings.online}}', ng-click='User.online(!settings.online)')
        | |
        output.queueLengthReporter {{queueLength()}}


