script(id='views/auth.html',type='text/ng-template')
  ion-pane
    ion-header-bar.bar-stable
      h1.title Login
    ion-content
      div(ui-view='')

script(id='views/auth.login.html',type='text/ng-template')
  form(ng-submit='auth()', ng-init='initLoginForm(false)')
    .list.list-inset
      label.item.item-input
        input(type='text', placeholder='Username', ng-model='login.username')
      label.item.item-input
        input(type='password', placeholder='Password', ng-model='login.password')
    .padding
      button.button.button-block.button-positive(type='submit') Submit
      a.button.icon-left.ion-social-facebook.button-block.button-stable(ui-sref='auth.facebook') Use Facebook
      a.button.button-block.button-stable(ui-sref='auth.register') Register
  //-.login
    .login-header
      img(src='assets/home-logo.png', width='79%')
    .login-form

script(id='views/auth.facebook.html',type='text/ng-template')
  form(ng-submit='auth()', ng-init='initLoginForm(true)')
    .card
      .item.item-text-wrap
        | Until we add Facebook authentication, use your UUID and API Token to log in (found at https://habitrpg.com > Options > Settings > API).
    .list.list-inset
      label.item.item-input
        input(type='text', placeholder='UUID', ng-model='login.username')
      label.item.item-input
        input(type='text', placeholder='API Token', ng-model='login.password')
    .padding
      button.button.button-block.button-positive(type='submit') Submit
      button.button.icon-left.ion-social-facebook.button-block.button-stable(ui-sref='auth.login') Use Username/Password
      button.button.button-block.button-stable(ui-sref='auth.register') Register


script(id='views/auth.register.html',type='text/ng-template')
  form.list.list-inset(ng-submit='register()', name='registrationForm')
      label.item.item-input
        input(type='text', ng-model='registerVals.username', placeholder='Username', required='required')
      label.item.item-input
        input(type='email', ng-model='registerVals.email', placeholder='Email', required='required')
      label.item.item-input
        input(type='password', ng-model='registerVals.password', placeholder='Password', required='required')
      label.item.item-input
        input(type='password', ng-model='registerVals.confirmPassword', placeholder='Password Confirm', required='required')
    .padding
      button.button.button-block.button-positive(type='submit') Submit
      button.button.button-block.button-stable(ui-sref='auth.login') Login