html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width')
    title HabitRPG
    // Place favicon.ico and apple-touch-icon.png in the root directory
    // Do not include in build because already minified and can't be put minified here because it would end with wrong paths !
    link(rel='stylesheet', href='bower_components/habitrpg-shared/dist/habitrpg-shared.css')

    link(rel='stylesheet', type='text/css', href='bower_components/js-emoji/emoji.css')
    link(rel='stylesheet', type='text/css', href='bower_components/ionic/css/ionic.min.css')
    link(rel='stylesheet', type='text/css', href='css/app.css')

    script(src='cordova.js')
    script(src='js/app.min.js')

  body(ng-app='habitrpg', ng-controller='RootCtrl', ng-cloak)

    // Notifications
    .bar.bar-header.bar-energized.notif-bar(ng-show='notification')
      h1.title(ng-bind-html='notification')

    include auth
    include app
    div(ui-view='')