<!doctype html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
        <title>HabitRPG</title>
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        <!-- Do not include in build because already minified and can't be put minified here because it would end with wrong paths !-->
        <link rel="stylesheet" href="bower_components/habitrpg-shared/dist/spritesheets.css">

        <!-- build:css({.tmp,app}) styles/main.css -->
        <link rel="stylesheet" href="styles/fixme.css">
        <link rel="stylesheet" type="text/css" href="bower_components/topcoat/css/topcoat-mobile-light.css">
        <link rel="stylesheet" type="text/css" href="bower_components/topcoat/css/main.css">
        <link rel="stylesheet" type="text/css" href="styles/topcoat-overrides.css">
        <link rel="stylesheet" type="text/css" href="styles/facebook-checkbox.css">
        <link rel="stylesheet" type="text/css"  href="styles/main.css">
        <!-- endbuild -->
    </head>
    <body ng-cloak ng-app="habitrpg" ng-controller="RootCtrl" class="light" ontouchstart="">

        <div ng-controller="AuthCtrl"></div>

        <!-- TODO move to jade so we can use "include" instead of ng-include, faster -->

        <!-- TODO was using ng-include so we could keep this file clean, but it wouldn't load the first route - have to navigate somewhere & back -->
        <div id="wrapper" ng-controller='MenuCtrl' ng-swipe-right="swiperight()" ng-swipe-left="swipeleft()">

            <!-- Nav -->

            <nav class="menu" ng-class="{open : menuopen}" style="top:0; left:0; width:100%">
                <ng-include src="'views/avatar.html'"></ng-include>
                <br>

                <div class="navLinkBlock">
                    <div class="mainNavLink" ng-repeat="button in nav" ng-click="menuClick(button)" style="position:relative">
                        <div class="image_wrapper">
                            <img ng-src="assets/sidebar-icon-{{button.lowercase}}.png">
                        </div>
                        <div class="image_wrapper_text">
                            {{button.name}}
                        </div>
                    </div>
                </div>
             </nav>

            <!-- Main Content -->
            <div id="site" ng-class="{open: menuopen}">

                <!-- Header -->
                <div class="topcoat-navigation-bar" ng-show="authenticated()">
                    <div class="topcoat-navigation-bar__item left quarter">
                        <a class="topcoat-icon-button--quiet" ng-click="menuopen = !menuopen">
                            <button class="btn btn--icon"><img src="assets/menu.png" style="margin-top:7px"></button>
                        </a>
                    </div>
                    <div class="topcoat-navigation-bar__item center half" style="top:50%; font-size:33px">
                        {{taskContext.name}}
                    </div>
                    <div class="topcoat-navigation-bar__item right quarter">
                        <a class="topcoat-icon-button--quiet">
                            <button class="btn btn--icon btn--large" ng-click="User.log({})" data-animation="{{refreshing()}}">
                                <img src="assets/refresh.png" style="margin-top:10px"></button>
                        </a>
                    </div>
                </div>

                <!-- Content -->
                <div id="content" class="max-width" ng-controller="TasksCtrl">
                    <!-- this stuff is just for development? I won't style this right now -->
                    <div class="appStatusArea">
                        <input type="button" class="appOnlineToggle" value="Online: {{settings.online}}" ng-click="User.online(!settings.online)">
                        | <output class="queueLengthReporter">{{queueLength()}}</output>
                    </div>

                    <!-- Main View -->
                    <div ng-controller="NotificationCtrl">
                        <div id="notification"><div ng-bind-html-unsafe="data.message"></div></div>
                    </div>
                    <div ng-view ng-cloak></div>
                </div>
            </div>
        </div>

        <!-- build:js scripts/modules.js -->
        <script src="bower_components/habitrpg-shared/dist/habitrpg-shared.js"></script>
        <script src="bower_components/jquery/jquery.min.js"></script>

        <script src="lib/angular-1.1.5/angular.js"></script>
        <script src="lib/angular-1.1.5/angular-cookies.js"></script>
        <script src="lib/angular-1.1.5/angular-sanitize.js"></script>
        <script src="lib/angular-1.1.5/angular-mobile.js"></script>

        <script src="lib/cdv-plugin-fb-connect.js"></script>
        <script src="lib/facebook-js-sdk.js"></script>
        <script src="lib/jquery-ui-1.10.3.custom.js"></script>
        <!-- endbuild -->

        <!-- also seems to not like min / cat -->
        <script src="bower_components/jquery.transit/jquery.transit.js"></script>

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/controllers/rootCtrl.js"></script>
        <script src="scripts/controllers/settingsCtrl.js"></script>
        <script src="scripts/filters/filters.js"></script>
        <script src="scripts/controllers/tasksCtrl.js"></script>
        <script src="scripts/controllers/taskDetailsCtrl.js"></script>
        <script src="scripts/directives/directives.js"></script>
        <script src="scripts/controllers/statsCtrl.js"></script>
        <script src="scripts/controllers/characterCtrl.js"></script>
        <script src="scripts/controllers/menuCtrl.js"></script>
        <script src="scripts/controllers/authCtrl.js"></script>
        <script src="scripts/services/userServices.js"></script>
        <script src="scripts/services/sharedServices.js"></script>
        <script src="scripts/services/authServices.js"></script>
        <script src="scripts/services/notificationServices.js"></script>
        <script src="scripts/controllers/notificationCtrl.js"></script>
        <script src="scripts/controllers/userAvatarCtrl.js"></script>
        <!-- endbuild -->

    </body>
</html>