<!doctype html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>HabitRPG</title>
    <link href='//fonts.googleapis.com/css?family=Lato:300,300italic' rel='stylesheet' type='text/css'>
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <!-- build:css({.tmp,app}) styles/main.css -->
    <link rel="stylesheet" href="shared/css/index.css">
    <link rel="stylesheet" href="styles/beta.css">
    <!-- endbuild -->

    <style>
        [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {display: none;}
    </style>
</head>
<body ng-cloak ng-app="habitrpg" ng-controller="RootCtrl">

    <div ng-controller="AuthCtrl">
    </div>

    <div ng-controller="userAvatarCtrl" class="userAvatar">
        <div>
        <menu type="list">
        <li class="customize-menu">
            <menu label="Head">
                <button type="button" class="m_head_0 customize-option" data-value="m" ng-click="changeSex('m')"></button>
                <button type="button" class="f_head_0 customize-option" data-value="f" ng-click="changeSex('f')"></button>
            </menu>
        </li>

        <li class="customize-menu">
            <menu label="Hair">
                <button type="button" class="{{user.preferences.gender}}_hair_blond customize-option" data-value="blond" ng-click="changeHair('blond')"></button>
                <button type="button" class="{{user.preferences.gender}}_hair_black customize-option" data-value="black" ng-click="changeHair('black')"></button>
                <button type="button" class="{{user.preferences.gender}}_hair_brown customize-option" data-value="brown" ng-click="changeHair('brown')"></button>
                <button type="button" class="{{user.preferences.gender}}_hair_white customize-option" data-value="white" ng-click="changeHair('white')"></button>
            </menu>
        </li>

        <li class="customize-menu">
            <menu label="Skin">
                <button type="button" class="{{user.preferences.gender}}_skin_dead customize-option" data-value="dead"   ng-click="changeSkin('dead')"></button>
                <button type="button" class="{{user.preferences.gender}}_skin_orc customize-option" data-value="orc"     ng-click="changeSkin('orc')"></button>
                <button type="button" class="{{user.preferences.gender}}_skin_asian customize-option" data-value="asian" ng-click="changeSkin('asian')"></button>
                <button type="button" class="{{user.preferences.gender}}_skin_black customize-option" data-value="black" ng-click="changeSkin('black')"></button>
                <button type="button" class="{{user.preferences.gender}}_skin_white customize-option" data-value="white" ng-click="changeSkin('white')"></button>
            </menu>
        </li>

         <li class="customize-menu">
            <menu label="Clothing" ng-show="user.preferences.gender == 'f'">
                <button type="button" class="f_armor_0_v1 customize-option" data-value="v1" ng-click="changeArmor('v1')"></button>
                <button type="button" class="f_armor_0_v2 customize-option" data-value="v2" ng-click="changeArmor('v2')"></button>
            </menu>
        </li>
        </menu>
        <button id="close" ng-click="hideUserAvatar()">Close</button>
        </div>
    </div>
    <div ng-controller="WrapperCtrl" class="wrapper" hm-swiperight="openMenu()" hm-swipeleft="closeMenu()">
        <nav class="menu" ng-class="{menuopen : menuopen, menuclose : menuclose}">

            <div ng-controller="MenuCtrl" class="navLinkBlock">
                <a class="mainNavLink" ng-repeat="button in nav" gf-Tap="toggleMenu()" href="{{button.name}}">{{button.link}}</a>
                <a class="mainNavLink" ng-click="toggleMenu()" href="#profile">Profile</a>
                <a class="mainNavLink lastNavLink" ng-click="toggleMenu()" href="#settings">Settings</a>
            </div>

        </nav>
        <div ng-class="{menuopen: menuopen, menuclose: menuclose}">
            <div ng-controller="StatsCtrl">
                <div class="topbar" ng-show="authenticated()">
                    <button class="btn btn--icon btn--large floatLeft" ng-click="toggleMenu()"><!-- ⚙ -->J</button>
                    <button class="btn btn--icon floatRight" gf-Tap="User.log({})" data-animation="{{refreshing()}}"><!-- ↻ -->M</button>
                </div>
                <!-- this stuff is just for development? I won't style this right now -->
                <div class="appStatusArea">
                    <input type="button" class="appOnlineToggle" value="Online: {{settings.online}}" ng-click="User.online(!settings.online)">
                    | <output class="queueLengthReporter">{{queueLength()}}</output>
                </div>
            </div>
            <div ng-view ng-cloak></div>
        </div>
    </div>

    <!-- build:js scripts/modules.js -->
    <script src="bower_components/jquery/jquery.min.js"></script>
    <script src="bower_components/angular/angular.min.js"></script>

    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>

    <!-- <script src="scripts/vendor/cordova-2.7.0.js"></script> -->
    <script src="bower_components/underscore/underscore-min.js"></script>
    <script src="bower_components/moment/moment.js"></script>
    <script src="scripts/vendor/cdv-plugin-fb-connect.js"></script>
    <script src="scripts/vendor/facebook-js-sdk.js"></script>
    <script src="scripts/vendor/jquery-ui-1.10.3.custom.js"></script>
    <!-- touch events (bower: hammerjs and monospaced/angular-hammer) -->
    <script src="bower_components/hammerjs/dist/hammer.min.js"></script>
    <script src="bower_components/hammerjs/dist/jquery.hammer.min.js"></script>
    <script src="bower_components/angular-hammer/angular-hammer.js"></script>
    <script src="scripts/vendor/jquery.transit.min.js"></script>

    <!-- HabitRPG Shared -->
    <script src="bower_components/habitrpg-shared/browser/browser.debug.js"></script>
    <!-- endbuild -->

    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="scripts/app.js"></script>
    <script src="scripts/controllers/rootCtrl.js"></script>
    <script src="scripts/controllers/settingsCtrl.js"></script>
    <script src="scripts/filters/filters.js"></script>
    <script src="scripts/controllers/tasksCtrl.js"></script>
    <script src="scripts/controllers/taskDetailsCtrl.js"></script>
    <script src="scripts/directives/taskFocus.js"></script>
    <script src="scripts/directives/taskBlur.js"></script>
    <script src="scripts/controllers/navCtrl.js"></script>
    <script src="scripts/controllers/wrapperCtrl.js"></script>
    <script src="scripts/controllers/statsCtrl.js"></script>
    <script src="scripts/controllers/characterCtrl.js"></script>
    <script src="scripts/controllers/menuCtrl.js"></script>
    <script src="scripts/controllers/authCtrl.js"></script>
    <script src="scripts/services/userServices.js"></script>
    <script src="scripts/services/sharedServices.js"></script>
    <script src="scripts/services/authServices.js"></script>
    <script src="scripts/services/notificationServices.js"></script>
    <script src="scripts/controllers/notificationCtrl.js"></script>
    <script src="scripts/controllers/loginCtrl.js"></script>
    <script src="scripts/controllers/eventCtrl.js"></script>
    <script src="scripts/controllers/userAvatarCtrl.js"></script>
    <!-- endbuild -->

    </body>
</html>
