script(id="views/avatar-meters.html",type='text/ng-template')
  .meter.animate
    span.meter-width(style="width:{{user.stats.hp/50*100}}%")
      span
  .meter.animate.orange
    span.meter-width(style="width:{{user.stats.exp / Shared.tnl(user.stats.lvl) * 100}}%")
      span