div
  figure.herobox(style='top: -24px; left: -43px;')
    .character-sprites(ng-click='menuClick(nav[4])')
      div(ng-include='"views/avatar-sprites.html"')
  .large-meters(ng-include='"views/avatar-meters.html"')
