mixin wallet()
  .row.wallet-box(style='{{!(user.flags.classSelected && !user.preferences.disableClasses) ? "padding-top: 16px":""}}')
    table
      tr
        td.toolbar-gems
          div.Pet_Currency_Gem2x.Gems
        td.toolbar-currency.gold
          div.shop_gold
        td.toolbar-currency.silver
          div.shop_silver
      tr
        td(text-align='center')
          div.gem-text {{user.balance * 4 | number:0}}
        td
          div {{Shared.gold(user.stats.gp) | goldRoundThousandsToK}}
        td
          div {{Shared.silver(user.stats.gp)}}

mixin avatar2(full)
  .avatar-box(ng-init='profile=user',class='#{full ? "full" : ""}')
    if full
      +herobox({main:1})
    else
      figure.herobox(style='height:90px;width:90px;padding-top:0em;background-color:inherit')
        .character-sprites
          +avatar({minimal:0,main:1})
    .hero-stats
        .meter-label
          span.glyphicon.glyphicon-heart
        .meter.health(class='#{full ? "":"sidebar"}')
          .bar(style='width: {{Shared.percent(user.stats.hp, 50)}}%;')
          span.meter-text.value
            |  {{Math.ceil(user.stats.hp)}} / 50
        .meter-label
          span.glyphicon.glyphicon-star
        .meter.experience(class='#{full ? "":"sidebar"}')
          .bar(style='width: {{Shared.percent(user.stats.exp,Shared.tnl(user.stats.lvl))}}%;')
          span.meter-text.value
            |  {{Math.floor(user.stats.exp) | number:0}} / {{Shared.tnl(user.stats.lvl) | number:0}}
        if full
          .meter-label(ng-if='user.flags.classSelected && !user.preferences.disableClasses')
            span.glyphicon.glyphicon-fire
          .meter.mana(class='#{full ? "":"sidebar"}', ng-if='user.flags.classSelected && !user.preferences.disableClasses')
            .bar(style='width: {{user.stats.mp / user._statsComputed.maxMP * 100}}%;')
            span.meter-text.value
              |  {{Math.floor(user.stats.mp)}} / {{user._statsComputed.maxMP}}
        +wallet()
