script(id='views/app.chat.list.html',type='text/ng-template')
  ion-list#chatCtrl-list
    ion-item
      form.item.row(ng-submit='postChat(_message)')
        textarea.col.col-80(placeholder='Type Chat', ng-model='_message.text')
        button.button.button-positive(type='submit', ng-show='_message.text') Send
    ion-item.item-text-wrap(ng-repeat='message in chat')
      .pull-right(style='opacity:0.3;') {{moment(message.timestamp).format('MMM Do h:mma')}}
      h2 {{message.user}}
      markdown(text='message.text')
    ion-infinite-scroll(on-infinite='loadMore(5)', distance='1%')

script(id='views/app.chat.html',type='text/ng-template')
  +ionContentView('Chat', true)
    div(ui-view='')
  .tabs(ng-hide='guildChat')
    a.tab-item(ng-class='{"tab-item-active": $state.is("app.chat.tavern")}', ui-sref='app.chat.tavern') Tavern
    a.tab-item(ng-class='{"tab-item-active": $state.is("app.chat.party")}', ui-sref='app.chat.party') Party
  .tabs(ng-show='guildChat')
    a.tab-item(ng-class='{"tab-item-active": $state.is("app.chat.guild")}', ui-sref='app.chat.tavern') Chat
    a.tab-item(ng-class='{"tab-item-active": $state.is("app.guilds.public")}', ui-sref='app.guilds.public') Search
