script(id="views/app.task.html",type='text/ng-template')
  ion-view(title='Details')
    div(ng-controller='TaskViewCtrl')
      +navBtns()
        button.button.button-icon.icon.ion-edit(ng-if='!_editing',ng-click="edit(task)")
        div(ng-if='_editing')
          button.button.button-icon.icon.ion-checkmark-circled(ng-click="save(task)")
          button.button.button-icon.icon.ion-close-circled(ng-click='cancel(task)')
          button.button.button-icon.icon.ion-trash-a(ng-click='delete(task)')

      +content(true)
        div(ng-if='!_editing')
          .item.item-text-wrap
            h2.title(ng-class='{strikeout: task.completed}')
              +taskText()
            p {{task.notes}}

          // Checklist
          .list(ng-if='task.checklist')
            .item.item-divider
              | Checklist

            .item.item-checkbox(ng-repeat='item in task.checklist')
              label.checkbox
                input(type='checkbox', ng-model='item.completed', ng-change='save(task,true)')
              | {{item.text}}

          //- Removing actions from view page for now
            p
              // <input class="toggle" type="checkbox" ng-model="task.completed" ng-show="task.type == 'daily' || task.type == 'todo'" ng-cloak />
              label.topcoat-checkbox__label(ng-show='task.type == "daily" || task.type == "todo"')
                input(type='checkbox', ng-model='task.completed', ng-change='changeCheck(task)')
                .topcoat-checkbox


            // Habits
            span(ng-show='task.type == "habit"', ng-cloak='ng-cloak')
              button.topcoat-button.taskButton(ng-show='task.up', ng-click='score(task,"up")') ＋
              button.topcoat-button.taskButton(ng-show='task.down', ng-click='score(task,"down")') －
            // Rewards and items
            input(type='button', value='Buy ({{task.value}}gp)', ng-click='score(task,"down")', ng-show='task.type == "reward"', ng-cloak='ng-cloak')
            input(type='button', value='Buy ({{task.value}}gp)', ng-click='buy(task.type)', ng-hide='task.id', ng-cloak='ng-cloak')


        div(ng-if='_editing')
          .form.list
            label.item.item-input.item-stacked-label
              span.input-label Title
              input(type='text', placeholder='Title', ng-model='task.text')
            label.item.item-input.item-stacked-label
              span.input-label Notes
              textarea(type='text', placeholder='Notes', ng-model='task.notes')
            // Checklist
            .item(ng-if='task.type=="daily" || task.type=="todo"')
              button.button.button-positive.button-block(ng-if="!task.checklist[0]"
                                                         ng-click="addChecklist(task)")=env.t('addChecklist')
              .list(ng-if="task.checklist[0]")
                .item.item-input.checklist-item.item-icon-right(ng-repeat="item in task.checklist")
                  input(type='text', ng-model='item.text', placeholder="Item text")
                  i.icon.ion-close-circled.assertive(ng-click="task.checklist.splice($index,1);")
                button.button.button-block.button-positive(
                  ng-click="addChecklistItem(task)") Add new item

            // Habits
            .item(ng-if='task.type == "habit"', ng-cloak='ng-cloak')
              span.input-label Allowed Directions
              .button-bar
                a.button.icon.ion-android-add(ng-click='task.up = !task.up', ng-class='{"active":task.up}')
                a.button.icon.ion-android-remove(ng-click='task.down = !task.down', ng-class='{"active":task.down}')
            // Dailies
            .item(ng-if='task.type == "daily"')
              span.input-label Repeat
              .button-bar
                a.button(ng-click='task.challenge.id || (task.repeat.su = !task.repeat.su)', ng-class='{"active":task.repeat.su}') Sun
                a.button(ng-click='task.challenge.id || (task.repeat.m = !task.repeat.m)', ng-class=  '{"active":task.repeat.m}') M
                a.button(ng-click='task.challenge.id || (task.repeat.t = !task.repeat.t)', ng-class=  '{"active":task.repeat.t}') T
                a.button(ng-click='task.challenge.id || (task.repeat.w = !task.repeat.w)', ng-class=  '{"active":task.repeat.w}') W
              .button-bar
                a.button(ng-click='task.challenge.id || (task.repeat.th = !task.repeat.th)', ng-class='{"active":task.repeat.th}') Th
                a.button(ng-click='task.challenge.id || (task.repeat.f = !task.repeat.f)', ng-class=  '{"active":task.repeat.f}') F
                a.button(ng-click='task.challenge.id || (task.repeat.s = !task.repeat.s)', ng-class=  '{"active":task.repeat.s}') S

            // Todos
            .item(ng-show='task.type == "todo"')
              span.input-label Due Date
              input(type='date' ng-model='task.date')
            .item(ng-hide='task.type == "reward"')
              span.input-label Difficulty
              .button-bar
                a.button(ng-click='task.priority = "1"', ng-class='{"active":task.priority == "1"}') Easy
                a.button(ng-click='task.priority = "1.5"', ng-class='{"active":task.priority == "1.5"}') Medium
                a.button(ng-click='task.priority = "2"', ng-class='{"active":task.priority == "2"}') Difficult
            // Rewards
            label.item.item-input.item-stacked-label(ng-if='task.type == "reward"')
              span.input-label Price
              input(type='text', placeholder='Price', ng-model='task.value')
