script(id='views/app.guilds.html',type='text/ng-template')
  +ionContentView('Guilds', true)
    ion-list#guildCtrl-list
      ion-item.item-icon-right(ng-repeat='guild in guilds' ng-click='viewGuild(guild)')
        h2 {{guild.name}}
        p {{guild.description}}
        i.icon.ion-chevron-right
