script(id='views/app.guilds.list.html',type='text/ng-template')
  ion-list#guildCtrl-list
    ion-item.item-icon-right.item-text-wrap(ng-repeat='guild in guilds' ng-click='viewGuild(guild)')
      h2 {{guild.name}}
      p {{guild.description}}
      i.icon.ion-chevron-right

script(id='views/app.guilds.public.html',type='text/ng-template')
  ion-list#guildCtrl-list
    ion-item.item-button-right.item-text-wrap(ng-repeat='guild in publicGuilds')
      h2 {{guild.name}}
      p {{guild.memberCount}} members
      p {{guild.description}}
      button.button.button-balanced.button-light(ng-show='!isMyGuild(guild)' ng-click='join(guild)')
        | join
      button.button.button-assertive.button-light(ng-show='isMyGuild(guild)' ng-click='leave(guild)')
        | leave
  ion-infinite-scroll(on-infinite='loadMore(5)' distance='1%')
