script(id='views/app.help.html',type='text/ng-template')
  +ionContentView('Help')
    div.card
      .item.item-text-wrap
        | HabitRPG is a habit-building program which treats your life like a Role Playing Game. Level up as you succeed, lose HP as you fail, earn money to buy weapons and armor, compete with your friends.</p>
      .item.item-text-wrap
        | <a onclick="window.open('https://habitrpg.com', '_system');" href="">The website</a> has been around for a year, and has additional features such as guilds, parties, pets, random drops, tags, difficulty settings, etc. We'll pull in features bit-by-bit to the mobile app - but we wanted to get this initial release out there so people can start using it, and hopefully contributing. It's open source (built on AngularJS & PhoneGap, using standard web technologies) so if you have any HTML, CSS, or JavaScript experience, <a onclick="window.open('https://github.com/habitrpg/habitrpg-mobile', '_system');" href="">please join us</a> to help make Habit awesome! File <a onclick="window.open('https://github.com/habitrpg/habitrpg-mobile/issues', '_system');" href="">any bugs here</a>. Android 2.3.x users - we'll enable for your devices once we can fix <a onclick="window.open('http://goo.gl/p9x2Pz', '_system');" href="">these CSS / Angular issues</a>.</p>
      .item.item-text-wrap
        | Content CC-BY-SA 3.0 from Mozilla BrowserQuest & Little Workshop.