script(id='views/app.list.html',type='text/ng-template')
  +ionContentView('{{nav.name}}')

    div(ng-controller='TasksCtrl')
      // Dead
      div(ng-if="user.stats.hp <= 0")
        h1 You are dead
        a.topcoat-button--large(ng-click='user.ops.revive({})') Revive

      // Alive
      div(ng-if="user.stats.hp > 0")
        .item.rewards-wallet(ng-if='nav.type=="reward"')
          +wallet()

        form.item.item-input-inset(ng-submit='addTask(_newTask)')
          label.item-input-wrapper
            input(type='text', placeholder='＋ Add New {{nav.singular}}', ng-model='_newTask')
          button.button.button-small(type='submit') Add

        .card(ng-if='user[nav.type+"s"].length == 0')
          .item.item-text-wrap
            | No {{nav.name}} found, add some above.
        ion-list(can-swipe='true')

          //ion-item(ng-repeat='task in user[nav.type+"s"] | filter:taskFilter', href='#/app/tasks/{{task.id}}')
          ion-item(ng-repeat='task in user[nav.type+"s"] | filter:taskFilter',class="item item-complex {{getClass(task.value)}}",ng-class='{completed: (task.completed || notDue(task))}')
            // Habits
            span.item-button-right(ng-if='task.type == "habit"')
              .buttons
                button.button.button-small.icon.ion-android-add(ng-click='score(task,"up")', ng-show='task.up')
                button.button.button-small.icon.ion-android-remove(ng-click='score(task,"down")', ng-show='task.down')
              | {{task.text}}
            // Dailies, Todos
            span.item-checkbox(ng-if='task.type=="daily" || task.type=="todo"')
              label.checkbox
                input(type='checkbox', ng-model='task.completed', ng-change='changeCheck(task)')
              | {{task.text}}
            // Rewards
            span(ng-if='task.type == "reward"')
              span.item-button-right
                button.button.button-small.buy-button(ng-click='score(task,"down")')
                  | {{task.value}}
                  span.shop_gold
              | {{task.text}}

            // Actions
            ion-option-button.icon.ion-edit(ng-click='$state.go("app.task",{tid:task.id})')
            //ion-option-button.button-assertive.icon.ion-minus-circled(ng-click='share(facility)')

          //-ion-item(class="{{item.classes}} {{getClass(0)}}", ng-repeat='item in itemStore', ng-if='nav.type=="reward" && item.text')
          ion-item.item.item-complex.item-button-right(ng-repeat='item in itemStore', ng-if='nav.type=="reward" && item.text')
            button.button.button-small.buy-button(ng-click='buy(item.key)')
              | {{item.value}}
              span.shop_gold
            table.shop-sprites
              tr
                td
                  .shop-sprite.item-img(class="shop_{{item.key}}")
                td
                  span(ng-click='selectTask(item)') {{item.text}}


        //-ul#task-list(ng-hide='tasks().length == 0 && nav.type != "reward"', ng-class='nav.type')
          li.cf.taskItem(class="{{getClass(task.value)}}",ng-repeat='task in tasks() | filter:taskFilter', ng-class='{completed: (task.completed || notDue(task)), editing: task == editedTask, last:$last}')
            p.taskText(ng-click='selectTask(task)')
              markdown(ng-model='task.text',style='display: inline-block')

      //-div(ng-controller='TasksCtrl')
        .filterBar(ng-if='$state.includes("todo")')
          a.btn.btn--small.btn--filter(ng-class='{current: $state.is("todo")}', ui-sref='todo') Active
          a.btn.btn--small.btn--filter(ng-class='{current: $state.is("todo.completed")}', ui-sref='todo.completed') Completed
