script(id='views/app.profile.html',type='text/ng-template')
  +ionView('Profile')
    ion-tabs.tabs-icon-top
      +ionTab(env.t('avatar'),'ion-person')
        .list.customize-content(ng-controller='userAvatarCtrl')
          .item.profile-background
            +avatar2(true)
          +customizeProfile(true)
      +ionTab(env.t('stats'),'ion-clipboard')
        .list(ng-init='profile=user')
          .item.profile-background
            +avatar2(true)
          +profileStats()
      div(ui-view='')