script(id="views/app.settings.html",type='text/ng-template')
  +ionContentView('Settings')
    div(ng-controller='SettingsCtrl', style='text-align:center')
      .list
        .item.item-text-wrap
          |Copy these for use in third party applications. However, think of your API Token like a password, and do not share it publicly. You may occasionally be asked for your User ID, but never post your API Token where others can see it, including on Github.
        .item.item-button-right
          strong UUID:&nbsp;
          | {{ ::settings.auth.apiId}}
          button.button.button-positive(ng-click='copy("UUID", settings.auth.apiId)')
            i.icon.ion-clipboard
        .item.item-button-right
          strong API Token:&nbsp;
          | {{ ::settings.auth.apiToken}}
          button.button.button-positive(ng-click='copy("API Token", settings.auth.apiToken)')
            i.icon.ion-clipboard
        .item
          strong URL:&nbsp;
          | {{ ::settings.auth.apiEndpoint}}
        .item(style='text-align:left')
          label.item-item-input.item-stacked-label
            span.input-label Remind to login
            input(type='time', ng-model='remindTimeOfDay', ng-change='timeChanged()', placeholder='No time-to-remind set')

      //-.card(ng-if='!user.purchased.plan.customerId')
        +premiumAndAds()

      .padding
        button.button.button-block(ng-click='User.user.ops.sleep({})')
            span(ng-show='user.preferences.sleep') Check Out of Inn
            span(ng-hide='user.preferences.sleep') Rest in the Inn
        button.button.button-block(type='button', ng-click='resetApp()') Logout

