mixin petList(source)
  .item(ng-if='!user.items.pets["Dragon-Hydra"]')
    a(href='' ng-click="externalLink('http://habitrpg.wikia.com/wiki/Contributing_to_HabitRPG')")
      | Rare pet contributors
    .PixelPaw-Gold.stable-pet-not-owned-icon
  .list
    div.pet-item(collection-repeat='item in #{source}' collection-item-width="'100%'" collection-item-height="getPetsHeight(item)" ng-style='{height: getPetsHeight(item)}' ng-class="{'item':item.type}")
      a.pet-item.item.item-icon-right(ng-href='#/app/pet-details/{{item.egg+"-"+item.potion}}{{item.name ? "+" + item.name : ""}}' ng-if='!item.type')
        div()
          .stable-pet-icon(class="{{'Pet-'+item.egg+\'-\'+item.potion}}", ng-if="user.items.pets[item.egg+'-'+item.potion]>0 || user.items.mounts[item.egg+'-'+item.potion]" ng-class="{'pet-evolved': user.items.mounts[item.egg+'-'+item.potion] && user.items.pets[item.egg+'-'+item.potion]==-1}")
          .PixelPaw.stable-pet-not-owned-icon(ng-if="!user.items.pets[item.egg+'-'+item.potion]")
          span(ng-if="!item.name")
            | {{ env.t('petName', {potion: env.t('hatchingPotion' + item.potion) != 'String \'hatchingPotion' + item.potion + '\' not found.' ? env.t('hatchingPotion' + item.potion) : item.potion, egg: env.t('dropEgg' + item.egg + 'Text') != 'String \'dropEgg' + item.egg + 'Text\' not found.' ? env.t('dropEgg' + item.egg + 'Text') : item.egg} )}}
          span(ng-if="item.name")
            | {{ env.t(item.name) }}
          i.icon.ion-chevron-right
      div(ng-if='item.type')
        .item.item-divider {{env.t(item.type)}}

mixin mountList(source)
  .list
    div.pet-item(collection-repeat='item in #{source}' collection-item-width="'100%'" collection-item-height="getMountsHeight(item)" ng-style='{height: getMountsHeight(item)}' ng-class="{'item':item.type}")
      a.pet-item.item.item-icon-right(ng-href='#/app/mount-details/{{item.egg+"-"+item.potion}}{{item.name ? "+" + item.name : ""}}' ng-if='!item.type && item.egg')
        div()
          .stable-pet-icon(class="{{'Mount_Head_'+item.egg+\'-\'+item.potion}}", ng-if="user.items.mounts[item.egg+'-'+item.potion]")
          .PixelPaw.stable-pet-not-owned-icon(ng-if="!user.items.mounts[item.egg+'-'+item.potion]")
          span(ng-if="!item.name")
            | {{ env.t('mountName', {potion: env.t('hatchingPotion' + item.potion) != 'String \'hatchingPotion' + item.potion + '\' not found.' ? env.t('hatchingPotion' + item.potion) : item.potion, mount: env.t('dropEgg' + item.egg + 'MountText') != 'String \'dropEgg' + item.egg + 'MountText\' not found.' ? env.t('dropEgg' + item.egg + 'MountText') : item.egg} )}}
          span(ng-if="item.name")
            | {{ env.t(item.name)}}
          i.icon.ion-chevron-right
      div(ng-if='item.type')
        .item.item-divider {{env.t(item.type)}}

script(id='views/app.stable.html',type='text/ng-template')
  div(ui-view='')
  .tabs
    a.tab-item(ng-class='{"tab-item-active": $state.is("app.stable.pets")}', ui-sref='app.stable.pets')=env.t('pets')
    a.tab-item(ng-class='{"tab-item-active": $state.is("app.stable.mounts")}', ui-sref='app.stable.mounts')=env.t('mounts')

script(id='views/app.stable.pets.html',type='text/ng-template')
  +ionContentView('Stable', true)
    +petList('eggs')

script(id='views/app.stable.mounts.html',type='text/ng-template')
  +ionContentView('Stable', true)
    +mountList('mounts')

script(id='views/app.pet-details.html',type='text/ng-template')
  +ionView('Pet details')
    +content()
      .list
        .item
          |{{petDisplayName}}
          div(class="Pet-{{pet}}", ng-if='user.items.pets[pet]>0 || user.items.mounts[pet]' ng-class="{'pet-evolved': user.items.mounts[pet] && user.items.pets[pet]==-1}")
          .PixelPaw(ng-if='!user.items.pets[pet]')

        div(ng-if='user.items.pets[pet]>0')
          ion-toggle(ng-model="isAvatarPet", ng-change="chooseAvatarPet()")
            |Use as your avatar pet
          div(ng-show='!user.items.mounts[pet] && (Content.eggs[egg].key!="Egg") && !Content.specialPets[pet]')
            .padding
              .meter.balanced-border
                div.balanced-bg(style='width:{{user.items.pets[pet]/.5}}%')
            .item.item-divider=env.t('food')
            .item(ng-show='foodCount < 1')=env.t('noFood')
            .item(ng-repeat='(food,points) in ownedItems(user.items.food)', ng-click='chooseFood(food)')
              .stable-pet-icon(class='Pet_Food_{{::food}}')
              p {{:: Content.food[food].text()}}
              p {{:: Content.food[food].notes()}}
              span.badge.badge-assertive {{points}}

script(id='views/app.mount-details.html',type='text/ng-template')
  +ionView('Mount details')
    +content()
      .list
        .item
          |{{mountDisplayName}}
          div(class="Mount_Head_{{mount}}", ng-if='user.items.mounts[mount]>0')
          .PixelPaw(ng-if='!user.items.mounts[mount]')

        div(ng-if='user.items.mounts[mount]')
          ion-toggle(ng-model="isAvatarMount", ng-change="chooseAvatarMount()")
            |Use as your avatar mount
