<div ng-controller="CharacterCtrl">
    <figure class="herobox" style="top:-24px; left:-43px">
        <div class='character-sprites'>
            <span class='zzz_light' ng-show='user.flags.rest'></span>
            <span class='{{user.preferences.gender}}_skin_{{user.preferences.skin}}'></span>
            <span class='{{user.preferences.gender}}_hair_{{user.preferences.hair}}'></span>
            <span class="{{equipped(user, 'armor')}}"></span>
            <span class="{{user.preferences.gender}}_head_0"></span>
            <span class="{{equipped(user, 'head')}}" ng-show="user.preferences.showHelm"></span>
            <span class='{{user.preferences.gender}}_shield_{{user.items.shield}}'></span>
            <span class='{{user.preferences.gender}}_weapon_{{user.items.weapon}}'></span>
        </div>
    </figure>

    <div class="meter animate" style="width:144px; left:87px; top:9px">
        <span class="meter-width" style="width: {{hpPercent(user.stats.hp)}}%"><span></span></span>
    </div>

    <div class="meter animate orange" style="width:144px; left:87px; top:9px">
        <span class="meter-width" style="width: {{expPercent(user.stats.exp, user.stats.lvl)}}%"><span></span></span>
    </div>
</div>