<div ng-controller="StatsCtrl"></div>

<div ng-controller="TaskDetailsCtrl" class="details-page">

    <!-- Details Page -->
    <div ng-hide="editing">
        <a class='topcoat-button' ng-click='goBack()'>Back</a> <a class="topcoat-button" ng-click="edit()">Edit</a>

        <h2>
            <!--<input class="toggle" type="checkbox" ng-model="task.completed" ng-show="task.type == 'daily' || task.type == 'todo'" ng-cloak />-->
            <div class="topcoat-checkbox" ng-show="task.type == 'daily' || task.type == 'todo'">
                <input type="checkbox" id="details-task-{{task.id}}" ng-model="task.completed" ng-change='changeCheck(task)'>
                <label class="topcoat-checkbox__label--right" for="details-task-{{task.id}}"></label>
                &nbsp;
            </div>
            <span ng-class="{strikeout: task.completed}">{{task.text}}</span>
        </h2>
        <p>{{task.notes}}</p>

        <!-- Habits -->
        <span ng-show="task.type == 'habit'" ng-cloak>
            <button class="topcoat-button taskButton" ng-show="task.up" ng-click="score(task,'up')">＋</button>
            <button class="topcoat-button taskButton" ng-show="task.down" ng-click="score(task,'down')">－</button>
        </span>

        <input type="button" value="Buy ({{task.value}})" ng-show="task.type == 'reward'" ng-cloak />

        <!-- Rewards -->
        <span></span>

    </div>

    <!-- Edit Page -->
    <div ng-show="editing">
        <a class='topcoat-button' ng-click='cancel()'>Cancel</a>
        <a class='topcoat-button' ng-click='save()'>Save</a>
        <a class='topcoat-button' ng-click='delete()'>Delete</a>

        <h4>Title</h4>
        <input class='topcoat-text-input' type='input' ng-model="task.text" />
        <h4>Notes</h4>
        <textarea class="topcoat-textarea" rows="6" cols="36" ng-model="task.notes"></textarea>

        <!-- Habits -->
        <span ng-show="task.type == 'habit'" ng-cloak>
            <div class="topcoat-checkbox">
                <input type="checkbox" id="edit-task-{{task.id}}-up" ng-model="task.up">
                <label class="topcoat-checkbox__label--right" for="edit-task-{{task.id}}-up">Up</label>
            </div>
            <div class="topcoat-checkbox">
                <input type="checkbox" id="edit-task-{{task.id}}-down" ng-model="task.down">
                <label class="topcoat-checkbox__label--right" for="edit-task-{{task.id}}-down">Down</label>
            </div>
        </span>

        <!-- Dailies -->
        <div ng-show="task.type == 'daily'">
            <a class='topcoat-button' ng-click='task.repeat.m = !task.repeat.m' ng-class="{'is-active':task.repeat.m}">M</a>
            <a class='topcoat-button' ng-click='task.repeat.t = !task.repeat.t' ng-class="{'is-active':task.repeat.t}">T</a>
            <a class='topcoat-button' ng-click='task.repeat.w = !task.repeat.w' ng-class="{'is-active':task.repeat.w}">W</a>
            <a class='topcoat-button' ng-click='task.repeat.th = !task.repeat.th' ng-class="{'is-active':task.repeat.th}">Th</a>
            <a class='topcoat-button' ng-click='task.repeat.f = !task.repeat.f' ng-class="{'is-active':task.repeat.f}">F</a>
            <a class='topcoat-button' ng-click='task.repeat.s = !task.repeat.s' ng-class="{'is-active':task.repeat.s}">S</a>
            <a class='topcoat-button' ng-click='task.repeat.su = !task.repeat.su' ng-class="{'is-active':task.repeat.su}">Sun</a>
        </div>

        <!-- Todos -->
        <div ng-show="task.type == 'todo'">
            TODO: Due Date
        </div>

        <!-- Rewards -->
        <div ng-hide="task.type == 'reward'">
            TODO: Difficulty
        </div>

    </div>

</div>
