<div ng-controller="StatsCtrl"></div>

<div ng-controller="TaskDetailsCtrl">

    <!-- Details Page -->
    <div ng-hide="editing">
        <a class='topcoat-button' ng-click='goBack()'>Back</a> <a class="topcoat-button" ng-click="edit()">Edit</a>

        <h2>
            <!--<input class="toggle" type="checkbox" ng-model="task.completed" ng-show="task.type == 'daily' || task.type == 'todo'" ng-cloak />-->
            <div class="topcoat-checkbox" ng-show="task.type == 'daily' || task.type == 'todo'">
                <input type="checkbox" id="details-task-{{task.id}}" ng-model="task.completed" ng-change='changeCheck(task)'>
                <label class="topcoat-checkbox__label--right" for="details-task-{{task.id}}"></label>
                &nbsp;
            </div>
            <span ng-class="{strikeout: task.completed}">{{task.text}}</span>
        </h2>
        <p>{{task.notes}}</p>

        <!-- Habits -->
        <span ng-show="task.type == 'habit'" ng-cloak>
            <button class="topcoat-button taskButton" ng-click="score(task,'up')">＋</button>
            <button class="topcoat-button taskButton" ng-click="score(task,'down')">－</button>
        </span>

        <input type="button" value="Buy ({{task.value}})" ng-show="task.type == 'reward'" ng-cloak />

        <!-- Rewards -->
        <span></span>

    </div>

    <!-- Edit Page -->
    <div ng-show="editing">
        <a class='topcoat-button' ng-click='cancel()'>Cancel</a>
        <a class='topcoat-button' ng-click='save()'>Save</a>
        <a class='topcoat-button' ng-click='delete()'>Delete</a>

        <h4>Title</h4>
        <input class='topcoat-text-input' type='input' ng-model="task.text" />
        <h4>Notes</h4>
        <textarea class="topcoat-textarea" rows="6" cols="36" ng-model="task.notes"></textarea>

        <!-- Habits -->
        <span ng-show="task.type == 'habit'" ng-cloak>
            <input type="checkbox" ng-model='task.up'> Up<br/>
            <input type="checkbox" ng-model='task.down'> Down
        </span>

        <!-- Dailies -->
        <div ng-show="task.type == 'daily'">
            TODO: Repeat
        </div>

        <!-- Todos -->
        <div ng-show="task.type == 'todo'">
            TODO: Due Date
        </div>

        <!-- Rewards -->
        <div ng-hide="task.type == 'reward'">
            TODO: Difficulty
        </div>

    </div>

</div>
