<div ng-controller="StatsCtrl"></div>

<div ng-controller="TaskDetailsCtrl" class="details-page">

    <!-- Details Page -->
    <div ng-hide="editing" style="margin:17px">
        <a class='topcoat-button' ng-click='goBack()'>Back</a>  <a class="topcoat-button" ng-show="task.id" ng-click="edit()">Edit</a>

        <p>
            <!--<input class="toggle" type="checkbox" ng-model="task.completed" ng-show="task.type == 'daily' || task.type == 'todo'" ng-cloak />-->
            <label class="topcoat-checkbox__label" ng-show="task.type == 'daily' || task.type == 'todo'">
                <input type="checkbox" ng-model="task.completed" ng-change='changeCheck(task)'>
                <div class="topcoat-checkbox"></div>
            </label>

            <span ng-class="{strikeout: task.completed}">{{task.text}}</span>
        </p>
        <p>{{task.notes}}</p>

        <!-- Habits -->
        <span ng-show="task.type == 'habit'" ng-cloak>
            <button class="topcoat-button taskButton" ng-show="task.up" ng-click="score(task,'up')">＋</button>
            <button class="topcoat-button taskButton" ng-show="task.down" ng-click="score(task,'down')">－</button>
        </span>

        <!-- Rewards and items-->
        <input type="button" value="Buy ({{task.value}}gp)" ng-click="score(task,'down')" ng-show="task.type == 'reward'" ng-cloak />
        <input type="button" value="Buy ({{task.value}}gp)" ng-click="buy(task.type)" ng-hide="task.id" ng-cloak />
        <span></span>

    </div>

    <!-- Edit Page -->
    <div ng-show="editing" style="margin:17px">
        <a class='topcoat-button' ng-click='cancel()'>Cancel</a>
        <a class='topcoat-button' ng-click='save()'>Save</a>
        <a class='topcoat-button' ng-click='delete()'>Delete</a>

        <h4>Title</h4>
        <input class='topcoat-text-input' type='input' ng-model="task.text" />
        <h4>Notes</h4>
        <textarea class="topcoat-textarea" rows="6" cols="36" ng-model="task.notes" style="width:100%; height:130px"></textarea>
        <br>
        <br>
        <!-- Habits -->
        <span ng-show="task.type == 'habit'" ng-cloak>

            <label class="topcoat-checkbox">
                <input type="checkbox"  ng-model="task.up">
                 <div class="topcoat-checkbox__checkmark"></div>
                <span>+</span>
            </label>

            <label class="topcoat-checkbox">
                <input type="checkbox"  ng-model="task.down">
                 <div class="topcoat-checkbox__checkmark"></div>
                <span>-</span>
            </label>
        </span>

        <!-- Dailies -->
        <div ng-show="task.type == 'daily'">
            <a class='topcoat-button' ng-click='task.repeat.su = !task.repeat.su' ng-class="{'is-active':task.repeat.su}">Sun</a>
            <a class='topcoat-button' ng-click='task.repeat.m = !task.repeat.m' ng-class="{'is-active':task.repeat.m}">M</a>
            <a class='topcoat-button' ng-click='task.repeat.t = !task.repeat.t' ng-class="{'is-active':task.repeat.t}">T</a>
            <a class='topcoat-button' ng-click='task.repeat.w = !task.repeat.w' ng-class="{'is-active':task.repeat.w}">W</a>
            <a class='topcoat-button' ng-click='task.repeat.th = !task.repeat.th' ng-class="{'is-active':task.repeat.th}">Th</a>
            <a class='topcoat-button' ng-click='task.repeat.f = !task.repeat.f' ng-class="{'is-active':task.repeat.f}">F</a>
            <a class='topcoat-button' ng-click='task.repeat.s = !task.repeat.s' ng-class="{'is-active':task.repeat.s}">S</a>
        </div>

        <!-- Todos -->
        <div ng-show="task.type == 'todo'">
            <!--TODO: Due Date-->
        </div>

        <div ng-hide="task.type == 'reward'">
            <h4>Difficulty</h4>
            <a class='topcoat-button' ng-click="task.priority = '!'" ng-class="{'is-active':task.priority == '!'}">Easy</a>
            <a class='topcoat-button' ng-click="task.priority = '!!'" ng-class="{'is-active':task.priority == '!!'}">Medium</a>
            <a class='topcoat-button' ng-click="task.priority = '!!!'" ng-class="{'is-active':task.priority == '!!!'}">Difficult</a>
        </div>

        <!-- Rewards -->
        <div ng-show="task.type == 'reward'">
            <input type="text" class="topcoat-text-input" ng-model="task.value" placeholder="Price" />
        </div>

    </div>

</div>