<div ng-controller="StatsCtrl" ng-class="{menuopen: menuopen, menuclose: menuclose}">

    <div class="head2">
        <div id="lines" gf-Tap="toggleMenu()"></div>
    </div>

</div>

<div ng-controller="TasksCtrl" ng-class="{menuopen: menuopen, menuclose: menuclose}">

    <h2>{{taskTypeTitle}}</h2>

    <div class="task_wrapper">

        <form id="task-form" ng-submit="addTask()">
            <input type="text" placeholder="Add new {{taskTypeTitle}}" ng-model="newTask">
        </form>

        <div class="task_list">
            <div class="no_tasks" ng-show="tasks.length == 0">No {{taskTypeTitle}}.</div>
            <ul id="task-list" class="list" ng-hide="tasks.length == 0">
                <li ng-repeat="task in tasks | filter:taskFilter" ng-class="{completed: task.completed, editing: task == editedTask}">
                    <div class="lines" ng-hide="tasks.length == 0 || task.type == 'habit'"></div>

                    <!-- Habits -->
                    <span ng-show="task.type == 'habit'" ng-cloak>
                        <input type="button" value="+" ng-click="score(task,'up')"/>
                        <input type="button" value="-" ng-click="score(task,'down')"/>
                    </span>

                    {{task.title}}

                    <!-- Daily, Todo -->
                    <input class="toggle" type="checkbox" ng-model="task.completed" ng-show="task.type == 'daily' || task.type == 'todo'" ng-cloak />

                    <input type="button" value="Buy ({{task.value}})" ng-show="task.type == 'reward'" ng-cloak />

                    <!-- Rewards -->
                    <span></span>

                    <label ng-dblclick="editTask(task)">{{task.text}}</label>
                    <button class="destroy" gf-Tap="removeTask(task)"></button>
                    <form ng-submit="doneEditing(task)">
                        <input class="edit" ng-model="task.text" task-blur="doneEditing(task)" task-focus="task == editedTask" />
                    </form>
                </li>
            </ul>
        </div>
    </div>

   </div>