<div ng-controller="AuthCtrl">
</div>

<div ng-controller="NotificationCtrl">
    <div id="notification">EXP: {{delta.delta}}</div>
</div>

<div ng-controller="StatsCtrl">

    <div class="topbar">
        <div id="lines" gf-Tap="toggleMenu()"></div>
        <div ng-show="settings.fetching" style="text-align: right"><img style="margin: 5px" src="/img/ajax-loader.gif"></div>
    </div>

</div>

<div ng-controller="TasksCtrl">

    <h2>{{taskTypeTitle}}</h2>

    <div class="task_wrapper">

        <form id="task-form" ng-submit="addTask()">
            <input type="text" placeholder="Add new {{taskTypeTitle}}" ng-model="newTask">
        </form>

        <div class="task_list">
            <div class="no_tasks" ng-show="user.tasks.length == 0">No {{taskTypeTitle}}.</div>
            <ul id="task-list" class="list" ng-hide="user.tasks.length == 0" sort>
                <li ng-repeat="task in user.tasks | filter:taskFilter" ng-class="{completed: task.completed, editing: task == editedTask}">
                    <div class="lines" ng-hide="user.tasks.length == 0 || task.type == 'habit' || task.type == 'reward'"></div>

                    <!-- Habits -->
                    <span ng-show="task.type == 'habit'" ng-cloak>
                        <input type="button" value="+" gf-Tap="score(task,'up')"/>
                        <input type="button" value="-" gf-Tap="score(task,'down')"/>
                    </span>

                    {{task.title}}

                    <!-- Daily, Todo -->
                    <span ng-show="task.type == 'daily' || task.type == 'todo'" ng-cloak>
                        <input class="toggle" type="checkbox" ng-model="task.completed" ng-change='changeCheck(task)'/>
                    </span>

                    <!-- Rewards -->
                    <span>
                        <input type="button" value="Buy ({{task.value}})" ng-show="task.type == 'reward'" gf-Tap="score(task,'down')" ng-cloak />
                    </span>


                    <span gf-Tap="selectTask(task)" class="text">{{task.text}}</span>

                </li>
            </ul>
        </div>
    </div>

   </div>
