<div ng-controller="AuthCtrl">

    <div class="login">
        <div class="header_notloggedin">
            <img src="assets/home-logo.png" width="79%">
        </div>

        <div class="content-notlogged">
            <form ng-submit="auth()">
                <input type="text" class="username" ng-model="loginUsername" placeholder="Username" />
                <input type="password" class="password" ng-model="loginPassword" placeholder="Password" />

                <input type="submit" class="btn-homescreen btn-login" value="Login" />
                <input type="submit" class="btn-homescreen btn-api-token" value="Use ID + Token" />
                <input type="button" class="btn-homescreen btn-signup" value="Signup" />
            </form>

        </div>

    </div>

</div>