<div ng-controller="AuthCtrl">

    <div ng-hide="registering" class="login">
        <div class="login-header">
            <img src="assets/home-logo.png" width="79%">
        </div>

        <div class="login-form">
            <form ng-submit="auth()">
                <input type="text" class="login-input username" ng-model="loginUsername" placeholder="{{useUUID ? 'UUID' : 'Username'}}" />
                <input type="{{useUUID ? 'text' : 'password'}}" class="login-input password" ng-model="loginPassword" placeholder="{{useUUID ? 'API Token' : 'Password'}}" />

                <input type="submit" class="btn-homescreen btn-login" value="Login" />
                <input type="button" class="btn-homescreen btn-signup" value="Signup" ng-click="registering = true"/>

            </form>
        </div>
        <div class="use-facebook">
            <label class="topcoat-checkbox__label">
                <!-- note ng-model is required for ng-change on checkbox? -->
                <input type="checkbox" ng-model="nothing" ng-change="toggleUUID()">
                <div class="topcoat-checkbox"></div>
                Login with Facebook or API Token
            </label>
        </div>
    </div>

    <div ng-show="registering" class="login">
        <div class="login-header">
            <img src="assets/home-logo.png" width="79%">
        </div>

        <div class="register-form">
            <form ng-submit="register()" name="registrationForm">
                <a class="register-cancel" ng-click="registering = false">&lt; Go Back</a>
                <input type="text" class="login-input username" ng-model="registerVals.username" placeholder="Username" required />
                <input type="email" class="login-input email" ng-model="registerVals.email" placeholder="Email" required />
                <input type="password" class="login-input password" ng-model="registerVals.password" placeholder="Password" required />
                <input type="password" class="login-input password-confirm" ng-model="registerVals.confirmPassword" placeholder="Password Confirm" required />

                <input type="submit" class="btn-homescreen btn-signup" value="Register"/>
            </form>
        </div>
    </div>

</div>