<div ng-controller="AuthCtrl">

    <div class="login">
        <div class="header_notloggedin">
            <img src="assets/home-logo.png" width="79%">
        </div>

        <div class="content-notlogged">
            <form ng-submit="auth()">
                <input type="text" class="username" ng-model="loginUsername" placeholder="Username" />
                <input type="text" class="password" ng-model="loginPassword" placeholder="Password" />

                <input type="submit" class="login_button" value="submit" />
                <input type="button" class="signup_button" />
            </form>

        </div>

    </div>

</div>