// Nav
nav.menu(ng-class='{open : menuopen}', style='top: 0; left: 0; width: 100%;')
  include ./avatar
  .navLinkBlock
    each v,k in {habits:{link:'/habit',name:'Habits'},dailies:{link:'/daily',name:'Dailies'},todos:{link:'/todo',name:'Todos'},rewards:{link:'/reward',name:'Rewards'},profile:{link:'/profile',name:'Profile'},settings:{link:'/settings',name:'Settings'},help:{link:'/help',name:'Help'}}
      .mainNavLink(ng-click='menuClick("#{v.link}")', style='position: relative;')
        .image_wrapper
          img(ng-src='assets/sidebar-icon-#{k}.png')
        .image_wrapper_text
          | #{v.name}