<div ng-controller="CharacterCtrl">

            <div class="herobox">
                <div class='character-sprites' ng-click="showUserAvatar()">
                    <span class='{{user.preferences.gender}}_skin_{{user.preferences.skin}}'></span>
                    <span class='{{user.preferences.gender}}_hair_{{user.preferences.hair}}'></span>
                    <span class="{{equipped(user, 'armor')}}"></span>
                    <span class="{{equipped(user, 'head')}}"></span>
                    <span class="{{user.preferences.gender}}_head_0"></span>
                    <span class='{{user.preferences.gender}}_shield_{{user.items.shield}}'></span>
                    <span class='{{user.preferences.gender}}_weapon_{{user.items.weapon}}'></span>
                </div>
            </div>


            <div class="user">
                {{user.auth.local.username}}<br>
                level {{user.stats.lvl}}<br>
                Gold: {{user.stats.gp | gold}}
                Silver: {{user.stats.gp | silver}}
            </div>
            <div style="clear:both"></div>

            <div class="meter animate">
                <span style="width: {{hpPercent(user.stats.hp)}}%"><span></span></span>
            </div>

            <div class="meter animate orange">
                <span style="width: {{expPercent(user.stats.exp, user.stats.lvl)}}%"><span></span></span>
            </div>

            <h3>Items</h3>
            <ul class="stats-list">
                <p><strong>{{itemText('weapon',user.items.weapon)}}</strong>: {{itemStat('weapon',user.items.weapon)}}% Exp gain</p>
                <p><strong>{{itemText('armor',user.items.armor)}}</strong>: {{itemStat('armor',user.items.armor)}}% Defense</p>
                <p><strong>{{itemText('head',user.items.head)}}</strong>: {{itemStat('head',user.items.head)}}% Defense</p>
                <p><strong>{{itemText('shield',user.items.shield)}}</strong>: {{itemStat('shield',user.items.shield)}}% Defense</p>
            </ul>

            <h3>Stats</h3>
            <ul class="stats-list">
                <li><strong>HP</strong>: {{floor(user.stats.hp)}} / 50</li>
                <li><strong>GP</strong>: {{floor(user.stats.gp)}}</li>
                <li><strong>Lvl</strong>: {{user.stats.lvl}}</li>
                <li><strong>Exp</strong>: {{floor(user.stats.exp)}} / {{tnl(user.stats.lvl)}}</li>
                <li><strong>Strength</strong>: {{userStr(user.stats.lvl)}}</li>
                <li><strong>Defense</strong>: {{userDef(user.stats.lvl)}}</li>
                <li><strong>Pets Found</strong>: {{count(user.items.pets)}}</li>
                <li><hr/></li>
                <li><strong>Total Strength</strong>: {{totalStr(user.stats.lvl, user.items.weapon)}} %</li>
                <li><strong>Total Defense</strong>: {{totalDef(user.stats.lvl, user.items.armor, user.items.head, user.items.shield)}} %</li>
            </ul>
</div>
