<div ng-controller="CharacterCtrl" class="profile-container">

    <div class="filterBar" >
        <a class="btn btn--small btn--filter" ng-click="customize = false" ng-class="{current: customize == false}">View</a>
        <a class="btn btn--small btn--filter" ng-click="customize = true" ng-class="{current: customize == true}">Customize</a>
    </div>

    <div class="profile-content">

        <!-- Profile Page -->
        <div ng-hide="customize">

            <div class="herobox">
                <div class='character-sprites' ng-class='{hasPet: user.items.currentPet}' ng-click="showUserAvatar()">
                    <span class='zzz' ng-show='user.flags.rest'></span>
                    <span class='{{user.preferences.gender}}_skin_{{user.preferences.skin}}'></span>
                    <span class='{{user.preferences.gender}}_hair_{{user.preferences.hair}}'></span>
                    <span class="{{equipped(user, 'armor')}}"></span>
                    <span class="{{user.preferences.gender}}_head_0"></span>
                    <span class="{{equipped(user, 'head')}}" ng-show="user.preferences.showHelm"></span>
                    <span class='{{user.preferences.gender}}_shield_{{user.items.shield}}'></span>
                    <span class='{{user.preferences.gender}}_weapon_{{user.items.weapon}}'></span>
                    <!-- current-pet class is used also on the website, in case it's moved from the website to habitrpg-shared, change it to another name here because they use different css !-->
                    <span class='Pet-{{user.items.currentPet.str}} current-pet'></span>
                </div>
            </div>


            <div class="user">
                <p class="username">{{user.auth.local.username}}</p>
                <p class="level">LEVEL {{user.stats.lvl}}</p>
                <p class="gold"><span class="shop_gold">Gold:</span> {{user.stats.gp | gold}}
                    <span class="shop_silver">Silver:</span> {{user.stats.gp | silver}}</p>
            </div>
            <div style="clear:both"></div>

            <div class="meter animate">
                
                <span class="meter-width" style="width: {{hpPercent(user.stats.hp)}}%"></span>
                <span class="meter-text">{{floor(user.stats.hp)}} / 50</span>
            </div>

            <div class="meter animate orange">
                
                <span class="meter-width" style="width: {{expPercent(user.stats.exp, user.stats.lvl)}}%"></span>
                <span class="meter-text">{{floor(user.stats.exp)}} / {{tnl(user.stats.lvl)}}</span>
            </div>

            <h3>Items</h3>
            <ul class="stats-list">
                <li><strong>{{itemText('weapon',user.items.weapon)}}</strong>: {{itemStat('weapon',user.items.weapon)}}% Exp gain</li>
                <li><strong>{{itemText('armor',user.items.armor)}}</strong>: {{itemStat('armor',user.items.armor)}}% Defense</li>
                <li><strong>{{itemText('head',user.items.head)}}</strong>: {{itemStat('head',user.items.head)}}% Defense</li>
                <li><strong>{{itemText('shield',user.items.shield)}}</strong>: {{itemStat('shield',user.items.shield)}}% Defense</li>
            </ul>

            <h3>Stats</h3>
            <ul class="stats-list">
                <li><strong>Strength</strong>: {{userStr(user.stats.lvl)}}</li>
                <li><strong>Defense</strong>: {{userDef(user.stats.lvl)}}</li>
                <li><strong>Pets Found</strong>: {{count(user.items.pets)}}</li>
                <li><strong>Total Strength</strong>: {{totalStr(user.stats.lvl, user.items.weapon)}} %</li>
                <li><strong>Total Defense</strong>: {{totalDef(user.stats.lvl, user.items.armor, user.items.head, user.items.shield)}} %</li>
            </ul>
        </div>

        <!-- Customization -->
        <!-- TODO it looks like mobile isn't digging ng-include? if that's not the issue here, revert this commit -->
        <div ng-show="customize" ng-controller="userAvatarCtrl" class="customize-content">
            <div class="herobox">
                <div class='character-sprites' ng-class='{hasPet: user.items.currentPet}' ng-click="showUserAvatar()">
                    <span class='zzz' ng-show='user.flags.rest'></span>
                    <span class='{{user.preferences.gender}}_skin_{{user.preferences.skin}}'></span>
                    <span class='{{user.preferences.gender}}_hair_{{user.preferences.hair}}'></span>
                    <span class="{{equipped(user, 'armor')}}"></span>
                    <span class="{{user.preferences.gender}}_head_0"></span>
                    <span class="{{equipped(user, 'head')}}" ng-show="user.preferences.showHelm"></span>
                    <span class='{{user.preferences.gender}}_shield_{{user.items.shield}}'></span>
                    <span class='{{user.preferences.gender}}_weapon_{{user.items.weapon}}'></span>
                    <!-- current-pet class is used also on the website, in case it's moved from the website to habitrpg-shared, change it to another name here because they use different css !-->
                    <span class='Pet-{{user.items.currentPet.str}} current-pet'></span>
                </div>
            </div>
            <div>
                <menu type="list" class="customizations">
                    <li class="customize-menu">
                        <menu label="Head">
                            <button type="button" class="m_head_0 customize-option" data-value="m" ng-click="changeSex('m')"></button>
                            <button type="button" class="f_head_0 customize-option" data-value="f" ng-click="changeSex('f')"></button>
                        </menu>
                    </li>

                    <li class="customize-menu">
                        <menu label="Hair">
                            <button type="button" class="btn--large {{user.preferences.gender}}_hair_blond customize-option" ng-click="changeHair('blond')"></button>
                            <button type="button" class="btn--large {{user.preferences.gender}}_hair_black customize-option" ng-click="changeHair('black')"></button>
                            <button type="button" class="btn--large {{user.preferences.gender}}_hair_brown customize-option" ng-click="changeHair('brown')"></button>
                            <button type="button" class="btn--large {{user.preferences.gender}}_hair_white customize-option" ng-click="changeHair('white')"></button>
                        </menu>
                    </li>

                    <li class="customize-menu">
                        <menu label="Basic Skin">
                            <button type="button" class="btn--large {{user.preferences.gender}}_skin_asian customize-option"    ng-click="changeSkin('asian')"></button>
                            <button type="button" class="btn--large {{user.preferences.gender}}_skin_white customize-option"    ng-click="changeSkin('white')"></button>
                            <button type="button" class="btn--large {{user.preferences.gender}}_skin_ea8349 customize-option"   ng-click="changeSkin('ea8349')"></button>
                            <button type="button" class="btn--large {{user.preferences.gender}}_skin_c06534 customize-option"   ng-click="changeSkin('c06534')"></button>
                            <button type="button" class="btn--large {{user.preferences.gender}}_skin_98461a customize-option"   ng-click="changeSkin('98461a')"></button>
                            <button type="button" class="btn--large {{user.preferences.gender}}_skin_black customize-option"    ng-click="changeSkin('black')"></button>
                            <button type="button" class="btn--large {{user.preferences.gender}}_skin_dead customize-option"     ng-click="changeSkin('dead')"></button>
                            <button type="button" class="btn--large {{user.preferences.gender}}_skin_orc customize-option"      ng-click="changeSkin('orc')"></button>
                        </menu>
                    </li>

                    <li class="customize-menu">
                        <menu label="Crazy Skin">
                            <button ng-if='user.purchased.skin.eb052b' type="button" class="btn--large {{user.preferences.gender}}_skin_eb052b customize-option" ng-click="changeSkin('eb052b')"></button>
                            <button ng-if='user.purchased.skin.f69922' type="button" class="btn--large {{user.preferences.gender}}_skin_f69922 customize-option" ng-click="changeSkin('f69922')"></button>
                            <button ng-if='user.purchased.skin.f5d70f' type="button" class="btn--large {{user.preferences.gender}}_skin_f5d70f customize-option" ng-click="changeSkin('f5d70f')"></button>
                            <button ng-if='user.purchased.skin.0ff591' type="button" class="btn--large {{user.preferences.gender}}_skin_0ff591 customize-option" ng-click="changeSkin('0ff591')"></button>
                            <button ng-if='user.purchased.skin.2b43f6' type="button" class="btn--large {{user.preferences.gender}}_skin_2b43f6 customize-option" ng-click="changeSkin('2b43f6')"></button>
                            <button ng-if='user.purchased.skin.d7a9f7' type="button" class="btn--large {{user.preferences.gender}}_skin_d7a9f7 customize-option"  ng-click="changeSkin('d7a9f7')"></button>
                            <button ng-if='user.purchased.skin.800ed0' type="button" class="btn--large {{user.preferences.gender}}_skin_800ed0 customize-option"   ng-click="changeSkin('800ed0')"></button>
                            <button ng-if='user.purchased.skin.rainbow' type="button" class="btn--large {{user.preferences.gender}}_skin_rainbow customize-option"    ng-click="changeSkin('rainbow')"></button>
                        </menu>
                    </li>

                    <li class="customize-menu">
                        <menu label="Monster Skin">
                            <button ng-if='user.purchased.skin.monster' type="button" class="btn--large {{user.preferences.gender}}_skin_monster customize-option" ng-click="changeSkin('monster')"></button>
                            <button ng-if='user.purchased.skin.pumpkin' type="button" class="btn--large {{user.preferences.gender}}_skin_pumpkin customize-option" ng-click="changeSkin('pumpkin')"></button>
                            <button ng-if='user.purchased.skin.skeleton' type="button" class="btn--large {{user.preferences.gender}}_skin_skeleton customize-option" ng-click="changeSkin('skeleton')"></button>
                            <button ng-if='user.purchased.skin.zombie' type="button" class="btn--large {{user.preferences.gender}}_skin_zombie customize-option" ng-click="changeSkin('zombie')"></button>
                            <button ng-if='user.purchased.skin.ghost' type="button" class="btn--large {{user.preferences.gender}}_skin_ghost customize-option" ng-click="changeSkin('ghost')"></button>
                            <button ng-if='user.purchased.skin.shadow' type="button" class="btn--large {{user.preferences.gender}}_skin_shadow customize-option"  ng-click="changeSkin('shadow')"></button>
                        </menu>
                    </li>

                    <hr/>
                    <strong>New Skins Available! Purchase them at <a onclick="window.open('https://habitrpg.com', '_system');" href="">https://habitrpg.com</a></strong>
                    <hr/>

                    <li class="customize-menu">
                        <menu label="Clothing" ng-show="user.preferences.gender == 'f'">
                            <button type="button" class="btn--large f_armor_0_v1 customize-option" data-value="v1" ng-click="changeArmor('v1')"></button>
                            <button type="button" class="btn--large f_armor_0_v2 customize-option" data-value="v2" ng-click="changeArmor('v2')"></button>
                        </menu>
                    </li>
                    <li class="customize-menu">
                        <menu label="Helmet">
                            <label class="topcoat-checkbox">
                              <input type="checkbox" ng-model="user.preferences.showHelm" ng-change="showHelm()">
                              <div class="topcoat-checkbox__checkmark"></div>
                              <span>Show helmet?</span>
                            </label>

                        </menu>
                    </li>
                </menu>
            </div>
        </div>
    </div>
</div>
