script(id="views/settings.html",type='text/ng-template')
  div(ng-controller='SettingsCtrl', style='text-align:center')
    .topcoat-list
      ul.topcoat-list__container
        li.topcoat-list__item
          strong UUID:&nbsp;
          | {{settings.auth.apiId}}
        li.topcoat-list__item
          strong API Token:&nbsp;
          | {{settings.auth.apiToken}}

    br

    input.topcoat-button--cta(type='button', ng-click='resetApp()', value='Logout', style='margin-top: 10px;')
