<div ng-controller="SettingsCtrl" style="text-align:center">
    <form ng-submit="auth(settings.auth.apiId,settings.auth.apiToken)">
        <p>User Id</p>
        <input type="text" class='topcoat-text-input' ng-model="settings.auth.apiId" />
        <p>API Token</p>
        <input type="text" class='topcoat-text-input' ng-model="settings.auth.apiToken" /><br /><br>
        <input type="submit" class="topcoat-button--cta" value="Save" />
        <input type="button" ng-click="resetApp()" class="topcoat-button--cta" value="Logout" style="margin-top:10px"></a>
    </form>
</div>
