@import "../node_modules/habitrpg/website/public/css/global-colors"
@import "../node_modules/habitrpg/website/public/css/global-modules"
@import "../node_modules/habitrpg/website/public/css/avatar"
@import "../node_modules/habitrpg/website/public/css/header"
@import "../node_modules/habitrpg/website/public/css/inventory"
@import "../node_modules/habitrpg/website/public/css/menu"
@import "../node_modules/habitrpg/website/public/css/customizer"

.item-divider
  margin-bottom 10px

.item-divider.ng-binding
  margin-bottom inherit

.table-striped
  margin-bottom 10px
  
.menu .scroll-content
  top 147px
.ios.menu .scroll-content
  top 172px
.notif-bar
  .shop_gold, .shop_silver
    margin-top: 8px

.notif-bar.ng-move,
.notif-bar.ng-enter,
.notif-bar.ng-leave 
  -webkit-transition: all linear 0.5s
  transition: all linear 0.5s

.notif-bar.ng-leave.ng-leave-active,
.notif-bar.ng-move,
.notif-bar.ng-enter 
  opacity: 0

.notif-bar.ng-leave,
.notif-bar.ng-move.ng-move-active,
.notif-bar.ng-enter.ng-enter-active 
  opacity: 1

.ng-hide
  opacity 0

markdown.task-text p
  color #000
  font inherit
  display inline-block

for $stage in (worst $worst) (worse $worse) (bad $bad) (neutral $neutral) (good $good) (better $better) (best $best)
  .color-{$stage[0]} > .item-content
    background-color: $stage[1]
.completed > .item-content
  background-color: $completed
  p {color: #999;}
.task-reward > .item-content {background-color: white !important;}

.avatar-box
  padding 0
  vertical-align top
  overflow hidden
  background-color #cfdbde
.ios .avatar-box
  border-top 25px solid #3e5555
.herobox
  max-width 140px
  max-height 150px
  margin-right 10px
  float left
  outline none
  margin-bottom 0
  background-color #dae3e5 !important
  z-index 90
.avatar-level
  span[tooltip="Level"]
    line-height 12px
    padding 0 auto
.full .herobox:after {opacity: 1}
.hero-stats
  display block
  padding 0 5px 
  margin 5px 3px 0 0
  width 100%
  .meter-text
    z-index 100
  .meter-label
    height 25px !important
  .meter
    height 25px !important
    margin-bottom 0.4em
    .value
      font-size: 13px;
      line-height: 23px;
      padding-right: 5px;
.meter
  padding 0
  height: 25px
  // color taken from default ionic coulours,
  // applying class balanced-color doesn't work
  border: 1px solid #498f24
  div
    height: 100%
  &.mana
    margin-bottom 0
  .meter-text
    line-height 21px
    padding-left 5px

.shop_gold, .shop_silver
  display inline-block
  vertical-align top
.wallet-box
  margin 0 auto
  font-size 0.9em
  width 110px
  padding 6px 0 0 0
  .toolbar-currency
    vertical-align bottom
  .toolbar-gems
    padding-top 0
    margin-top 0
    color #428bca
  .gem-text
    margin-right 5px
  .shop_gold
    margin-bottom 3px
  .shop_silver
    margin-bottom 3px
  td
    text-align center

.menu-avatar .item-content
  padding 5px
  background-color #e5ebed
.profile-background
  background-color #cfdbde
  padding: 0

.rewards-wallet
  overflow: hidden
  margin: 0 auto
  min-width: 30px
  text-align: center
  text-overflow: ellipsis
  white-space: nowrap
  padding 5px

.customize-content .item
  overflow-x: scroll
  -webkit-overflow-scrolling: touch

.pull-left {float:left;}
.pull-right {float:right;}
.shop-sprites
  margin: 4px 20px 4px 4px;
  td {vertical-align: middle;}

.muted *
  color: grey !important

.stable-pet-icon
  float: left
  margin-top -20px

.stable-pet-not-owned-icon
  float: left
  margin-right: 14px
  margin-left: 15px

.inventory-item-icon
  float: left
  margin-right: 5px

  &.locked
    background-color: #727272


.costume-list
  margin-bottom: 0px

.pet-item
  left 0
  right 0

#chatCtrl-list
  img
    max-width 200px

// Contributor colors - use until module is updated
$color-contributor-one = #f57a9d
$color-contributor-two = #b93030
$color-contributor-three = #ff3300
$color-contributor-four = #ff9500
$color-contributor-five = #fff700
$color-contributor-six = #5eff00
$color-contributor-seven = #00aaff
$color-contributor-mod = #130ead
$color-contributor-staff = #88108f
$color-contributor-npc = #000
$color-contributor-npc-font = #00FF00

// label colors for contrib level same as game-pane.styl
hrpg-contributor-label-mixin($hrpg-contributor-color)
  //@extend $hrpg-label
  hrpg-label-color-mixin($hrpg-contributor-color)

.label-contributor-1
  hrpg-contributor-label-mixin($color-contributor-one)
.label-contributor-2
  hrpg-contributor-label-mixin($color-contributor-two)
.label-contributor-3
  hrpg-contributor-label-mixin($color-contributor-three)
.label-contributor-4
  hrpg-contributor-label-mixin($color-contributor-four)
.label-contributor-5
  hrpg-contributor-label-mixin($color-contributor-five)
.label-contributor-6
  hrpg-contributor-label-mixin($color-contributor-six)
.label-contributor-7
  hrpg-contributor-label-mixin($color-contributor-seven)
.label-contributor-8
  hrpg-contributor-label-mixin($color-contributor-staff)
  // FOR NEW MOD LEVEL: line above will change from -staff to -mod
.label-contributor-9
  hrpg-contributor-label-mixin($color-contributor-staff)
.label-npc
  hrpg-contributor-label-mixin($color-contributor-npc)
  color: #00FF00 !important
