/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #4a87ee !default;
$calm:                            #43cee6 !default;
$balanced:                        #66cc33 !default;
$energized:                       #f0b840 !default;
$assertive:                       #ef4e3a !default;
$royal:                           #8a6de9 !default;
$dark:                            #444 !default;
*/

// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: "../bower_components/ionic/release/fonts" !default;

// To match the webapp more, changed colours
$stable:						#f2f5f6;
$bar-transparency:				1;
$button-stable-text:			#3e5555;
$item-divider-bg: 				$stable;


$bar-stable-bg:                 #3e5555;
$bar-stable-text:				#f2f5f6;


// Include all of Ionic
@import "../bower_components/ionic/scss/ionic";