@media screen and (min-width: 768px) {
}
@media screen and (min-width: 768px) {
}
@media screen and (min-width: 768px) {
}
.herobox:after {
  padding: 0.382em 0.618em;
  border-width: 1px;
  border-style: solid;
  border-radius: 0.382em;
  font-size: 0.8em;
  line-height: 1;
  color: #fff;
}
@media screen and (max-width: 768px) {
}
@media screen and (min-width: 768px) {
}
@media screen and (max-width: 768px) {
}
@media screen and (min-width: 768px) {
}
@media screen and (min-width: 768px) {
}
@media screen and (max-width: 768px) {
}
@media screen and (min-width: 768px) {
}
@media screen and (min-width: 768px) {
}
.profile-modal-header {
  width: 560px;
  margin: 0px auto;
}
.avatar-level {
  position: absolute;
  bottom: 2px;
  right: 2px;
}
.herobox {
  height: 10.5em;
  width: 10em;
  max-width: 10em;
  margin: 0;
  position: relative;
  cursor: pointer;
  background: #dae3e5;
  transition: border 0.25s ease-out, background 0.25s ease-out;
  outline: 1px solid rgba(0,0,0,0.1);
}
.herobox:after {
  content: attr(data-name);
  position: absolute;
  top: 0;
  display: block;
  margin: 2px;
  text-align: left;
  color: #f7fbf6 !important;
  background-color: #b2d4a6 !important;
  border-color: #8ec07d !important;
  transition: opacity 0.2s ease-out;
}
.herobox:after > a {
  color: #f7fbf6 !important;
}
.herobox:after {
  opacity: 0;
}
.herobox.isUser:not(.hasMount):after {
  opacity: 1;
  color: #f7f9fa !important;
  background-color: #b3c5c9 !important;
  border-color: #8faaaf !important;
}
.herobox.isUser:not(.hasMount):after > a {
  color: #f7f9fa !important;
}
.character-sprites span {
  position: absolute;
}
#profileStable .active {
  border: 1px solid #000;
}
.herobox:not(.isUser) {
  outline: 0;
  background-color: #c5d3d6;
}
.herobox.hasPet {
  padding-top: 1.75em;
}
.herobox:not(.hasPet) {
  padding-top: 2em;
}
.herobox.hasMount {
  padding-top: 0em;
}
.herobox:hover,
.herobox:focus {
  background: #e5ebed;
}
.herobox:hover:after,
.herobox:focus:after {
  opacity: 1;
}
.herobox .character-sprites {
  width: 6.428571429em;
  height: 6.428571429em;
  margin: 0 auto;
}
.herobox .character-sprites span,
.herobox .pet {
  position: absolute;
}
.herobox.isLeader {
  background: #dee6e8;
}
.header-wrap {
  width: 100%;
  padding: 46px 0 0 0;
  z-index: 100;
  background-color: #c5d3d6;
  border-bottom: 1px solid rgba(0,0,0,0.2);
  overflow-y: hidden;
  overflow-x: auto;
}
@media screen and (max-width: 768px) {
  .header-wrap {
    padding: 0;
  }
}
.user-menu {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  font-size: 0.85em;
  z-index: 1011;
}
.user-menu .site-nav {
  margin-bottom: 0px;
}
.user-menu .tile {
  cursor: pointer;
  font-weight: 400;
  color: #494949;
  color: rgba(38,38,38,0.8);
  background-color: #c2d7db;
}
.user-menu .tile:hover,
.user-menu .tile:focus {
  background-color: #b2d4a6;
}
.user-menu .tile:active {
  background-color: #98c688;
}
.user-reporter:after {
  content: '▾';
  float: right;
}
.stacked > li {
  display: list-item;
}
.stacked > li > a {
  display: block;
}
.flyout,
.flyout-alt {
  position: relative;
}
.flyout-content {
  position: absolute;
  top: 100%;
  right: -99999px;
  height: 0;
  overflow: hidden;
}
.flyout:hover > .flyout-content {
  right: 0;
}
.flyout-alt:hover > .flyout-content {
  top: 0;
  right: 100%;
}
.flyout:hover > .flyout-content,
.flyout-alt:hover > .flyout-content {
  height: auto;
  overflow: visible;
}
.flyout .tile {
  min-width: 6.5em;
}
.stacked .tile {
  outline: 0;
  border: 1px solid rgba(0,0,0,0.2);
  border-top: 0;
}
.site-header {
  display: table;
  height: 10.5em;
}
@media (min-width: 42.5em) {
  .site-header {
    width: 75%;
  }
}
@media (min-width: 60em) {
  .site-header {
    width: 66%;
  }
}
@media (min-width: 70em) {
  .site-header {
    width: 70%;
  }
}
.herobox-wrap {
  display: table-cell;
  vertical-align: middle;
  width: 10em;
  height: 10.5em;
}
.hero-stats {
  padding: 0 1.25em;
  margin: 0;
  display: table-cell;
  vertical-align: middle;
  min-width: 175px;
}
.hero-stats .meter,
.hero-stats .bar {
  box-shadow: none;
  border-radius: 0;
}
.hero-stats .meter {
  position: relative;
  background: #fff;
  opacity: 1;
  outline: 1px solid rgba(0,0,0,0.2);
  outline-offset: -1px;
  overflow: hidden;
  height: 2.25em;
  margin: 0 0 1em;
  cursor: help;
  color: #111;
}
.hero-stats .meter:last-of-type {
  margin-bottom: 0;
}
.hero-stats .meter:after {
  content: attr(title);
  position: absolute;
  left: -1em;
  top: 0.4em;
  font-weight: 400;
  z-index: -1;
  transition: all 0.25s ease-out;
}
.hero-stats .meter .bar {
  border: 1px solid rgba(0,0,0,0.1);
  height: 100%;
  transition: width 0.25s ease-out;
}
.hero-stats .meter:hover:after {
  left: 1em;
  z-index: 1;
}
.hero-stats .health .bar {
  background: #d64040;
}
.hero-stats .experience .bar {
  background: #ffcf42;
}
.hero-stats .mana .bar {
  background: #5288e9;
}
.hero-stats .meter-text {
  position: absolute;
  top: 0;
  right: 0.5em;
  z-index: 1;
  line-height: 2.25;
}
header .hero-stats {
  background-color: #cfdbde;
  border-right: 1px solid #bacbcf;
}
.color-worst {
  background-color: #e6b8af;
}
.color-worst .action-yesno label,
.color-worst .task-action-btn {
  background-color: #c96652;
}
.color-worst .action-yesno label:hover,
.color-worst .task-action-btn:hover,
.color-worst .action-yesno label:focus,
.color-worst .task-action-btn:focus {
  background-color: #b94f3a;
}
.color-worst .task-options {
  background-color: #e6b8af;
}
.color-worse {
  background-color: #f4cccc;
}
.color-worse .action-yesno label,
.color-worse .task-action-btn {
  background-color: #dc5d5d;
}
.color-worse .action-yesno label:hover,
.color-worse .task-action-btn:hover,
.color-worse .action-yesno label:focus,
.color-worse .task-action-btn:focus {
  background-color: #d43939;
}
.color-worse .task-options {
  background-color: #f4cccc;
}
.color-bad {
  background-color: #fce5cd;
}
.color-bad .action-yesno label,
.color-bad .task-action-btn {
  background-color: #f4a24c;
}
.color-bad .action-yesno label:hover,
.color-bad .task-action-btn:hover,
.color-bad .action-yesno label:focus,
.color-bad .task-action-btn:focus {
  background-color: #f28b21;
}
.color-bad .task-options {
  background-color: #fce5cd;
}
.color-neutral {
  background-color: #fff2cc;
}
.color-neutral .action-yesno label,
.color-neutral .task-action-btn {
  background-color: #ffcf42;
}
.color-neutral .action-yesno label:hover,
.color-neutral .task-action-btn:hover,
.color-neutral .action-yesno label:focus,
.color-neutral .task-action-btn:focus {
  background-color: #ffc314;
}
.color-neutral .task-options {
  background-color: #fff2cc;
}
.color-good {
  background-color: #d9ead3;
}
.color-good .action-yesno label,
.color-good .task-action-btn {
  background-color: #8bbf79;
}
.color-good .action-yesno label:hover,
.color-good .task-action-btn:hover,
.color-good .action-yesno label:focus,
.color-good .task-action-btn:focus {
  background-color: #71b05b;
}
.color-good .task-options {
  background-color: #d9ead3;
}
.color-better {
  background-color: #d0e0e3;
}
.color-better .action-yesno label,
.color-better .task-action-btn {
  background-color: #7eaab2;
}
.color-better .action-yesno label:hover,
.color-better .task-action-btn:hover,
.color-better .action-yesno label:focus,
.color-better .task-action-btn:focus {
  background-color: #6398a2;
}
.color-better .task-options {
  background-color: #d0e0e3;
}
.color-best {
  background-color: #c9daf8;
}
.color-best .action-yesno label,
.color-best .task-action-btn {
  background-color: #5288e9;
}
.color-best .action-yesno label:hover,
.color-best .task-action-btn:hover,
.color-best .action-yesno label:focus,
.color-best .task-action-btn:focus {
  background-color: #2a6de3;
}
.color-best .task-options {
  background-color: #c9daf8;
}
.completed {
  background-color: #d9d9d9;
  color: #999;
}
.completed .glyphicon {
  color: #333;
}
.completed .task-checker label {
  background-color: #989898;
}
.completed .task-action-btn {
  background-color: #989898;
}
.reward {
  background-color: #fff;
}
.tasks-lists .row {
  margin-left: -5px;
  margin-right: -5px;
}
.tasks-lists .row .col-md-3 {
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 15px;
}
.task-column {
  padding: 1.5em;
  background: #f5f5f5;
  border: 1px solid #ccc;
  font-family: 'Lato', sans-serif;
}
.task-column .task-column_title {
  margin: 0 0 0.5em;
  padding: 0;
  font-weight: 300;
}
@media (min-width: 768px) and (max-width: 970px) {
  .task-column {
    max-height: 18.6em;
    overflow-y: scroll;
  }
}
.addtask-form {
  margin-bottom: 0.75em;
  outline: 1px solid rgba(0,0,0,0.15);
  outline-offset: -1px;
  background-color: #fff;
  position: relative;
}
.addtask-field {
  display: block;
  width: 100%;
}
.addtask-field input {
  font-family: 'Lato', sans-serif;
  border: 0;
  outline: 0;
  border-radius: 0;
  box-shadow: none;
  background-color: #fff;
  height: 3em;
  padding: 0 3.3em 0 0.5em;
  width: 100%;
}
.addtask-field input:focus {
  box-shadow: inset 0 0 3px #7aa4ee, inset -1px 0 1px #5288e9;
}
.addtask-btn {
  position: absolute;
  right: 0;
  top: 0;
  width: 1.81818em !important;
  height: 1.88em;
  padding: 0;
  font-size: 1.61em;
  line-height: 1.7;
  outline: 0;
  border: 0;
  border-radius: 0;
  background-color: #8db1f0;
}
.addtask-btn:hover,
.addtask-btn:focus {
  background-color: #7aa4ee;
}
.addtask-btn:active {
  background-color: #5288e9;
}
.task {
  list-style: none;
  clear: both;
  padding: 0;
  min-height: 3em;
  margin-bottom: 0.75em;
  box-shadow: inset 0 0 1px rgba(0,0,0,0.5);
  position: relative;
}
.task:hover {
  cursor: move;
}
.task:last-child {
  margin-bottom: 0;
}
.task label {
  font-weight: 400;
}
.task-text {
  display: block;
  padding: 0.75em 0 0.75em 3.5em;
  line-height: 1.4;
  word-wrap: break-word;
}
.task-text span.emoji {
  width: 1.5em;
  height: 1.5em;
  background-size: 1.5em;
}
.habit-wide .task-text {
  padding-left: 7em;
}
.task.ui-sortable-helper {
  box-shadow: 0 0 3px rgba(0,0,0,0.15), 0 0 5px rgba(0,0,0,0.1);
  transform: scale(1.05);
  outline: 1px solid rgba(0,0,0,0.2);
}
.task-controls {
  display: inline-block;
  float: left;
  margin-left: -0.5em;
  margin-right: 0.5em;
}
.task-controls.task-primary {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  float: none;
  margin: 0;
}
.task-action-btn {
  display: inline-block;
  width: 2.12765em;
  height: 2.12765em;
  padding: 0;
  font-size: 1.41em;
  line-height: 2.12765;
  text-align: center;
  color: #222;
  vertical-align: top;
  border-right: 1px solid rgba(0,0,0,0.25);
}
.task-action-btn:last-child {
  border: 0;
}
.task-action-btn:hover,
.task-action-btn:focus {
  color: #222;
  text-decoration: none;
}
.task-checker input[type=checkbox] {
  margin: 0;
  padding: 0;
  visibility: hidden;
}
.task-checker label {
  display: inline-block;
  width: 3em;
  height: 100%;
  margin: 0;
  vertical-align: top;
  cursor: pointer;
}
.action-plusminus label {
  margin-right: 1.5em;
}
.action-plusminus label:after {
  font-size: 1.41em;
  width: 2.12765em;
  height: 2.12765em;
  line-height: 2.12765;
  text-align: center;
  display: inline-block;
  vertical-align: top;
  opacity: 0.3;
  background-color: #ddd;
  outline: 1px solid rgba(0,0,0,0.5);
  color: #222;
}
.action-plusminus label[for$="plus"]:after {
  content: '＋';
}
.action-plusminus label[for$="minus"]:after {
  content: '−';
}
.action-plusminus.select-toggle input[type=checkbox]:checked + label:after {
  opacity: 1;
}
.action-yesno {
  position: relative;
}
.action-yesno label:after,
.action-yesno label:before {
  content: '';
  display: block;
  height: 1.714285714em;
  width: 1.714285714em;
  font-size: 1.75em;
  line-height: 1.714285714em;
  text-align: center;
  color: #000;
  opacity: 0.2;
}
.action-yesno label:after {
  height: 10px;
  width: 10px;
  margin: 15px auto;
  border: 1px solid #222;
}
.action-yesno label:before {
  position: absolute;
  left: 0;
}
.action-yesno label:hover:before,
.action-yesno label:focus:before {
  content: '';
}
.action-yesno label:hover:after,
.action-yesno label:focus:after {
  content: '¬';
  border: none;
  margin: 0;
  font-size: 3.2em;
  line-height: 0.9375em;
  height: 0.9375em;
  width: 1.15em;
  text-align: center;
  transform: rotate(135deg);
  opacity: 0.5 !important;
}
.action-yesno label:active:after {
  opacity: 0.75 !important;
}
.action-yesno input[type=checkbox]:checked + label:after {
  content: '¬';
  font-size: 3.2em;
  line-height: 0.9375em;
  height: 0.9375em;
  width: 1.15em;
  text-align: center;
  transform: rotate(135deg);
  opacity: 0.75;
  border: none;
  margin: 0;
}
.task-meta-controls {
  float: right;
  margin: 0.75em 0.5em 0 0.5em;
  height: 1em;
  opacity: 0.25;
}
.task-meta-controls a {
  text-decoration: none;
}
.task-meta-controls .glyphicon-signal {
  margin-left: 0.25em;
}
.task-meta-controls .glyphicon-remove,
.task-meta-controls .glyphicon-ok,
.task-meta-controls a.badge {
  margin-right: 0.25em;
}
.task-meta-controls .glyphicon-tags {
  margin-left: 0.1em;
  margin-right: 0.4em;
}
.task-meta-controls a.badge {
  position: relative;
  top: -2px;
}
.task:hover .task-meta-controls {
  opacity: 1;
}
.popover {
  line-height: 1.5;
  margin-bottom: 10px;
  margin-right: 5px;
}
form {
  margin-bottom: 0;
}
[class$="-options"] {
  padding: 1em 1em 0;
  color: #333;
  position: relative;
}
[class$="-options"] .option-group {
  border-bottom: 1px solid rgba(0,0,0,0.1);
  padding: 0 0 1em;
  margin-bottom: 1em;
}
[class$="-options"] .option-title {
  font-size: 1em;
  margin: 0 0 0.5em;
  line-height: 1.5;
  border: 0;
  padding: 0;
  color: #333;
  font-style: italic;
}
[class$="-options"] .option-title:not(.mega):after {
  content: ':';
}
[class$="-options"] .option-title.mega {
  cursor: pointer;
  font-style: normal;
  font-weight: bold;
  text-decoration: underline;
}
[class$="-options"] .option-content {
  height: 2.5em;
  width: 100%;
  margin: 0 0 1em;
  padding: 0 0 0 0.5em;
  outline: 0;
  border: 1px solid rgba(0,0,0,0.2);
  box-shadow: none;
  border-radius: 0;
  font-family: 'Lato', sans-serif;
}
[class$="-options"] textarea.option-content {
  height: 5em;
  padding-top: 0.25em;
  resize: none;
  margin-bottom: 0;
}
.option-short .option-content {
  width: 4em;
  display: inline-block;
}
.option-short .input-suffix {
  vertical-align: 20%;
  padding-left: 0.25em;
}
.option-medium .option-content {
  width: 6em;
  display: inline-block;
}
.option-medium .input-suffix {
  vertical-align: 20%;
  padding-left: 0.25em;
}
.task-controls.tile-group {
  display: block;
  text-align: center;
  margin: 0;
}
.task-controls.tile-group.task-attributes {
  text-align: left;
}
.task-action-btn.tile {
  border: 0;
  font-size: 1.15em;
  font-weight: 300;
  outline: 1px solid rgba(0,0,0,0.2);
  outline-offset: -1px;
  margin: 0 0 0 3px;
  font-family: 'Lato', sans-serif;
  text-align: inherit;
  opacity: 0.5;
  width: auto;
  padding: 0 0.5em;
}
.task-action-btn.tile.active {
  opacity: 1;
}
.tile.solid {
  opacity: 1;
}
.tile.spacious {
  margin: 0.75em 0;
  font-size: 1.25em;
  opacity: 1;
}
.tile.bright {
  background-color: #d4e1f9;
}
.tile.bright:hover,
.tile.bright:focus {
  background-color: #dfe9fb;
}
.tile.flush {
  margin-left: 0;
  border: 1px solid rgba(0,0,0,0.2);
  outline: 0;
  line-height: 2em;
}
.tile.flush:first-child {
  border-right: 0;
}
.task-options .task-action-btn.tile {
  margin: 3px;
}
.nav-tabs {
  margin-top: 1.5em;
}
.nav-tabs > li.active > a {
  color: #333;
}
.nav-tabs > li.active > a:hover {
  margin-top: 1px;
}
.nav-tabs > li > a {
  border-radius: 0 !important;
  margin-top: 1px;
  color: #333;
}
.nav-tabs > li > a:hover {
  border-top: 0;
  margin-top: 2px;
}
.checklist-form input.inline-edit {
  line-height: inherit;
  text-align: inherit;
  background-color: inherit;
  box-shadow: none;
  width: 80%;
}
.checklist-form input.inline-edit:hover,
.checklist-form input.inline-edit:focus {
  background-color: #ffd;
  transition: background-color 0.5s;
}
.checklist-form .checklist-icons {
  opacity: 0;
  width: 5%;
}
.checklist-form li {
  min-height: 20px;
  padding-left: 10px;
  margin-bottom: 5px;
}
.checklist-form li [type="checkbox"] {
  margin: 0px 10px 3px 0px;
  width: 5%;
}
.checklist-form li:hover .checklist-icons {
  opacity: 1;
}
.notif-bar.ng-hide-add {
  -webkit-transition: all linear 0.5s;
  -moz-transition: all linear 0.5s;
  -o-transition: all linear 0.5s;
  transition: all linear 0.5s;
  display: block !important;
}
.notif-bar.ng-hide-add.ng-hide-add-active,
.notif-bar.ng-hide-remove {
  opacity: 0;
}
.notif-bar.ng-hide-add,
.notif-bar.ng-hide-remove.ng-hide-remove-active {
  opacity: 1;
}
